<form id="custom-add-to-cart-form" action="/cart/add" method="post" class="">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  <input type="hidden" name="quantity" value="1">
  <button
    type="submit"
    class="z-999 rounded-[5px] text-center  bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click w-[150px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer "
  >
    Add to Cart
  </button>
</form>
