<div class="h-full bg-neutral-90 list-none {{ classes }}">
  <div
    draggable="false"
    class="cursor-pointer relative px-[15px] h-full w-full flex flex-col justify-center group text-lm-on-neutral-1-hover pb-[5px] transition-all duration-300 border-b border-neutral-60 hover:border-b-2 border-transparent hover:border-lm-on-neutral-1-hover hover:font-bold hover:text-primary-40"
  >
    <div class="product-nav-item !mx-0">
      <a href="{{ href }}">{{ label }}</a>
    </div>
  </div>
</div>
