<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 pt-[24px] pb-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-last w-full"
          >
            <div class="media w-full">
              <div class="image h-full min-h-0 w-full">
                <img
                  alt="espresso jot software"
                  decoding="async"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=100&amp;crop=center"
                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-jot-section.webp?width=3000&amp;crop=center 3000w"
                  width="100"
                  class="rounded-[0px] lg:rounded-[20px] h-auto"
                  draggable="false"
                  style="width: 100%;"
                >
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-lm-background-1"
          >
            <div
              id=""
              class="layout-flex relative h-full col-start-1 lg:col-start-1 col-span-4 lg:col-span-5 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
            >
              <h2 class="heading text-heading-large currentColor ">Meet <span class="text-lm-primary">Jot</span></h2>
              <div class="description text-body-medium currentColor ">
                <div class="">
                  Jot by espresso is a free writing and drawing tool built to streamline how you communicate with your
                  friends and colleagues. Write, sketch and share ideas and feedback instantly with Jot.
                </div>
              </div>
              <div class="callout-group flex flex-row justify-evenly lg:justify-evenly gap-[20px] flex-wrap">
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="badge">
                    <div class="badge">
                      <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.553711" width="33" height="12" rx="6" fill="#60269E"></rect><path d="M4.53906 10.5537V3.50781H5.53027L9.41699 9.01074L8.66992 8.625H9.22168V3.50781H10.291V10.5537H9.2998L5.4082 5.05566L6.16016 5.44141H5.60352V10.5537H4.53906ZM12.0586 10.5537V3.50781H16.5312V4.45508H13.1523V6.51074H16.3506V7.41895H13.1523V9.60645H16.5312V10.5537H12.0586ZM19.5635 10.5537L17.6641 3.50781H18.8066L20.1006 8.98145H20.1641L21.6338 3.50781H22.6543L24.1338 8.98145H24.1973L25.4863 3.50781H26.624L24.7246 10.5537H23.6895L22.1758 5.29004H22.1123L20.5986 10.5537H19.5635ZM28.2061 8.21973L28.1035 3.50293H29.2949L29.1973 8.21973H28.2061ZM28.7041 10.6611C28.4762 10.6611 28.2923 10.5944 28.1523 10.4609C28.0156 10.3275 27.9473 10.1517 27.9473 9.93359C27.9473 9.71224 28.0156 9.53483 28.1523 9.40137C28.2923 9.26465 28.4762 9.19629 28.7041 9.19629C28.9287 9.19629 29.1094 9.26465 29.2461 9.40137C29.3861 9.53483 29.4561 9.71224 29.4561 9.93359C29.4561 10.1517 29.3861 10.3275 29.2461 10.4609C29.1094 10.5944 28.9287 10.6611 28.7041 10.6611Z" fill="white"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="icon max-w-[96px] max-h-[96px] py-[16px] relative left-[10px]">
                    <div class="icon flex flex-col items-center w-[36px] h-[36px]">
                      <svg
                        width="157"
                        height="100"
                        viewBox="0 0 157 100"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <mask id="mask0_2190_3615" maskUnits="userSpaceOnUse" x="0" y="0" width="101" height="100"><path d="M78 0H32.0862L0.5 31.2075V77.5C0.5 89.926 10.574 100 23 100H78C90.426 100 100.5 89.926 100.5 77.5V22.5C100.5 10.074 90.426 0 78 0Z" fill="white"></path></mask><g mask="url(#mask0_2190_3615)"><g filter="url(#filter0_d_2190_3615)"><path d="M78 0H32.0862L0.5 31.2075V77.5C0.5 89.926 10.574 100 23 100H78C90.426 100 100.5 89.926 100.5 77.5V22.5C100.5 10.074 90.426 0 78 0Z" fill="url(#paint0_linear_2190_3615)"></path></g><g filter="url(#filter1_d_2190_3615)"><path d="M56.6124 11.2803L50.7957 22.5995H62.4291L56.6124 11.2803Z" fill="#D6B7FF"></path><path d="M36.762 74.7973C38.7426 75.9927 41.2365 76.7573 44.2511 77.0862C47.8652 77.0862 50.796 74.1566 50.796 70.5413V25.1638H62.4295V70.46C62.4295 80.5449 54.2547 88.7197 44.1698 88.7197C39.8664 88.6432 36.4113 87.3471 33.3979 85.4139L36.762 74.7973Z" fill="#D6B7FF"></path></g><g filter="url(#filter2_d_2190_3615)"><path d="M0.5 31.2075L32.0862 0V8.70752C32.0862 21.1335 22.0121 31.2075 9.58616 31.2075H0.5Z" fill="#D6B7FF"></path></g></g><path d="M75.5 50C75.5 39.6447 83.8947 31.25 94.25 31.25H138C148.355 31.25 156.75 39.6447 156.75 50V50C156.75 60.3553 148.355 68.75 138 68.75H94.25C83.8947 68.75 75.5 60.3553 75.5 50V50Z" fill="#FFC12F"></path><path d="M144.621 42.5625H133.058V48.5625H142.121V51.4375H133.058V60.3125H129.715V39.6875H144.621V42.5625Z" fill="#111111"></path><path d="M114.504 39.6875C117.734 39.6875 120.244 40.5833 122.036 42.375C123.848 44.1458 124.754 46.6875 124.754 50C124.754 53.3125 123.848 55.8646 122.036 57.6562C120.244 59.4271 117.734 60.3125 114.504 60.3125H107.223V39.6875H114.504ZM114.504 57.4687C116.692 57.4687 118.359 56.8229 119.504 55.5312C120.671 54.2187 121.254 52.375 121.254 50C121.254 47.625 120.671 45.7917 119.504 44.5C118.359 43.1875 116.692 42.5312 114.504 42.5312H110.567V57.4687H114.504Z" fill="#111111"></path><path d="M95.5684 39.6875C97.0475 39.6875 98.3184 39.9479 99.3809 40.4687C100.464 40.9896 101.308 41.7292 101.912 42.6875C102.516 43.6458 102.818 44.8021 102.818 46.1562C102.818 47.4896 102.516 48.6458 101.912 49.625C101.308 50.5833 100.464 51.3229 99.3809 51.8437C98.3184 52.3646 97.0475 52.625 95.5684 52.625H90.9746V60.3125H87.6309V39.6875H95.5684ZM95.0371 49.75C96.5163 49.75 97.5996 49.4479 98.2871 48.8437C98.9954 48.2187 99.3496 47.3229 99.3496 46.1562C99.3496 44.9687 98.9954 44.0729 98.2871 43.4687C97.5996 42.8437 96.5163 42.5312 95.0371 42.5312H90.9746V49.75H95.0371Z" fill="#111111"></path><defs><filter id="filter0_d_2190_3615" x="-23.5" y="-8" width="148" height="148" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix><feOffset dy="16"></feOffset><feGaussianBlur stdDeviation="12"></feGaussianBlur><feColorMatrix type="matrix" values="0 0 0 0 0.258824 0 0 0 0 0.258824 0 0 0 0 0.258824 0 0 0 0.24 0"></feColorMatrix><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2190_3615"></feBlend><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2190_3615" result="shape"></feBlend></filter><filter id="filter1_d_2190_3615" x="1.39795" y="-4.71965" width="93.0315" height="141.439" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix><feOffset dy="16"></feOffset><feGaussianBlur stdDeviation="16"></feGaussianBlur><feColorMatrix type="matrix" values="0 0 0 0 0.2 0 0 0 0 0.113725 0 0 0 0 0.337255 0 0 0 0.36 0"></feColorMatrix><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2190_3615"></feBlend><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2190_3615" result="shape"></feBlend></filter><filter id="filter2_d_2190_3615" x="-27.5" y="-12" width="87.5862" height="87.2075" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix><feOffset dy="16"></feOffset><feGaussianBlur stdDeviation="14"></feGaussianBlur><feColorMatrix type="matrix" values="0 0 0 0 0.2 0 0 0 0 0.113725 0 0 0 0 0.337255 0 0 0 0.36 0"></feColorMatrix><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2190_3615"></feBlend><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2190_3615" result="shape"></feBlend></filter><linearGradient id="paint0_linear_2190_3615" x1="50.5" y1="106.302" x2="50.5" y2="-10.0801" gradientUnits="userSpaceOnUse"><stop offset="0.04" stop-color="#4A1C7A"></stop><stop offset="0.52" stop-color="#60269E"></stop><stop offset="0.91" stop-color="#6821A3"></stop></linearGradient></defs>
                      </svg>
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Give feedback on PDFs</div>
                </div>
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="image max-w-[96px] max-h-[96px] my-[16px]">
                    <div class="image h-full min-h-0 w-full">
                      <img
                        src="{{ 'icon-pen.svg' | asset_url }}3"
                        fetchpriority="auto"
                        alt="logo jot pen"
                        width=""
                        height=""
                        draggable="false"
                        class="w-full h-full object-contain"
                      >
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Scribe and translate</div>
                </div>
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="image max-w-[96px] max-h-[96px] my-[16px]">
                    <div class="image h-full min-h-0 w-full">
                      <img
                        src="{{ 'icon-magic-drop.svg' | asset_url }}"
                        fetchpriority="auto"
                        alt="logo jot magic drop"
                        width=""
                        height=""
                        draggable="false"
                        class="w-full h-full object-contain"
                      >
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Draw into any app</div>
                </div>
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="image max-w-[96px] max-h-[96px] my-[16px]">
                    <div class="image h-full min-h-0 w-full">
                      <img
                        src="{{ 'icon-screenshot.svg' | asset_url }}"
                        fetchpriority="auto"
                        alt="logo jot screenshot"
                        width=""
                        height=""
                        draggable="false"
                        class="w-full h-full object-contain"
                      >
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Screenshot and markup</div>
                </div>
              </div>
              <div class="flex flex-col items-center lg:items-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-hp-jot"
                  href="/products/jot"
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
