<div class="section group-image-with-info col-span-full flex flex-col gap-[24px] lg:gap-[24px]" id="">
  <div
    id=""
    class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px] grid-rows-auto lg:grid-rows-none lg:auto-rows-max"
  >
    <div
      id=""
      class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-last"
    >
      <div class="media">
        <div class="image h-full min-h-0 w-full">
          <img
            alt="display collaborate video call"
            decoding="async"
            loading="eager"
            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=100&amp;crop=center"
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-collaborate.webp?width=3000&amp;crop=center 3000w"
            width="100"
            class="object-cover"
            draggable="false"
            style="width: 100%;"
            height="auto"
          >
        </div>
      </div>
    </div>
    <div
      id=""
      class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 lg:gap-x-[20px] auto-rows-auto gap-[48px] bg-neutral-90 px-[32px] lg:px-[0px]"
    >
      <div
        class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px]  py-[32px] lg:gap-[32px] lg:py-[32px]"
      >
        <h2 class="heading text-heading-large currentColor ">Collaborate in any environment.</h2>
        <div class="description text-body-medium currentColor ">
          <div class="">
            Enhance your capability to connect, collaborate and interact with your teams, virtually and in-person.
          </div>
        </div>
        <div class="flex flex-col items-center lg:items-start">
          <button
            draggable="false"
            type="button"
            class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit cursor-pointer event-hp-how-works h-[48px]"
          >
            <div class="icon flex flex-col items-center">
              <svg width="24" height="24" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 0C22.3866 0 0 22.3866 0 50C0 77.6134 22.3866 100 50 100C77.6134 100 100 77.6134 100 50C100 22.3866 77.6134 0 50 0ZM75.055 51.729L38.8467 72.6364C37.5475 73.386 35.9284 72.4465 35.9284 70.9474V29.1325C35.9284 27.6334 37.5475 26.694 38.8467 27.4435L75.065 48.351C76.3542 49.1005 76.3542 50.9794 75.055 51.729Z" fill="white"></path>
              </svg>
            </div>
            See how it works
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    id=""
    class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px] grid-rows-auto lg:grid-rows-none lg:auto-rows-max"
  >
    <div
      id=""
      class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-first"
    >
      <div class="media">
        <div class="image h-full min-h-0 w-full">
          <img
            alt="display travel work anywhere outdoors"
            decoding="async"
            loading="eager"
            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=100&amp;crop=center"
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-travel-1412x1120.webp?width=3000&amp;crop=center 3000w"
            width="100"
            class=""
            draggable="false"
            style="width: 100%;"
            height="auto"
          >
        </div>
      </div>
    </div>
    <div
      id=""
      class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 lg:gap-x-[20px] auto-rows-auto gap-[48px] bg-neutral-90 px-[32px] lg:px-[0px]"
    >
      <div
        id=""
        class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[32px]"
      >
        <h2 class="heading text-heading-large currentColor ">Travel and hybrid working.</h2>
        <div class="description text-body-medium currentColor ">
          <div class="">
            Maximise your potential to work with confidence, wherever the road takes you. A single USB-C connection to
            your device is all you need to setup a workstation anywhere.
          </div>
        </div>
        <div class="flex flex-col items-center lg:items-start"></div>
      </div>
    </div>
  </div>
  <div
    id=""
    class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px] grid-rows-auto lg:grid-rows-none lg:auto-rows-max"
  >
    <div
      id=""
      class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-last"
    >
      <div class="media">
        <div class="image h-full min-h-0 w-full">
          <img
            alt="display creative production"
            decoding="async"
            loading="eager"
            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=100&amp;crop=center"
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-creative-1412x1120.webp?width=3000&amp;crop=center 3000w"
            width="100"
            class=""
            draggable="false"
            style="width: 100%;"
            height="auto"
          >
        </div>
      </div>
    </div>
    <div
      id=""
      class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 lg:gap-x-[20px] auto-rows-auto gap-[48px] bg-neutral-90 px-[32px] lg:px-[0px]"
    >
      <div
        id=""
        class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[32px]"
      >
        <h2 class="heading text-heading-large currentColor ">Create and produce. Your way.</h2>
        <div class="description text-body-medium currentColor ">
          <div class="">
            Compatible, simple when used with any platform or software. Fine-tuned pen functions for seamless sketching,
            drawing, editing and collaboration with clients and teams.
          </div>
        </div>
        <div class="flex flex-col items-center lg:items-start"></div>
      </div>
    </div>
  </div>
  <div
    id=""
    class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px] grid-rows-auto lg:grid-rows-none lg:auto-rows-max"
  >
    <div
      id=""
      class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-first"
    >
      <div class="media">
        <div class="image h-full min-h-0 w-full">
          <img
            alt="display vertical large canvas"
            decoding="async"
            loading="eager"
            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=100&amp;crop=center"
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-hp-play-1412x1120.webp?width=3000&amp;crop=center 3000w"
            width="100"
            class=""
            draggable="false"
            style="width: 100%;"
            height="auto"
          >
        </div>
      </div>
    </div>
    <div
      id=""
      class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 lg:gap-x-[20px] auto-rows-auto gap-[48px] bg-neutral-90 px-[32px] lg:px-[0px]"
    >
      <div
        id=""
        class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[32px]"
      >
        <h2 class="heading text-heading-large currentColor ">Maximise work and play!</h2>
        <div class="description text-body-medium currentColor ">
          <div class="">
            Expand your multimedia potential. Immerse yourself in content with a portable display to support streaming,
            gaming and fun - whatever device or platform you use.
          </div>
        </div>
        <div class="flex flex-col items-center lg:items-start"></div>
      </div>
    </div>
  </div>
</div>
