<div
  id="section-compatibility"
  class="section relative flex lg:flex-col items-center flex-col-reverse h-full w-full bg-neutral-0"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] desktop-small:pt-[35px] desktop-small:pb-[70px] bg-neutral-0 text-neutral-101 py-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full full col-span-4 lg:col-span-12 flex flex-col gap-[32px] lg:gap-[32px] items-center"
        >
          <h2 class="text-center text-heading-extralarge">Check your device compatibility</h2>
          <button
            draggable="false"
            type="button"
            class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer event-pdp-v2-check-compatibility"
          >
            Check compatibility
          </button>
          <div class="text-center text-body-small text-neutral-60">
            Unsure? <a class="text-neutral-101" href="/support">We can help.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
