<div class="bg-lm-background-5 text-lm-on-background-5 w-full h-[500px] flex flex-col items-center">
  <div class="flex flex-col items-center relative h-full w-full">
    <div class="background absolute w-full h-full">
      <div class="image min-h-0 h-full w-full">
        <img
          alt=""
          decoding="async"
          loading="eager"
          src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=100&amp;crop=center"
          srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-calibrated-pdp.webp?width=3000&amp;crop=center 3000w"
          width="100"
          class="h-full w-full desktop-small:h-full desktop-small:w-full object-cover object-[70%_50%] desktop-small:object-[50%_50%] overflow-hidden"
          draggable="false"
          style="width: 100%;"
        >
      </div>
    </div>
    <div class="z-[2] h-full w-full max-w-content-max-width px-[32px] lg:px-[70px]">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] place-content-center"
      >
        <div
          id=""
          class="layout-flex relative h-full col-start-1 col-span-full desktop-small:col-span-6 content-container flex flex-col justify-start items-center desktop:items-start gap-[16px] py-[20px] desktop-small:py-[48px] text-center desktop-small:text-left"
        >
          <h1 class="heading text-display-medium currentColor flex flex-row desktop-small:flex-col gap-[10px] desktop-small:gap-[0px]">
            Colour calibrated out of the box
          </h1>
          <div class="subheading text-body-medium currentColor flex flex-row flex-wrap gap-[10px] desktop-small:flex-col justify-center desktop-small:justify-start">
            Enjoy vibrant, true-to-life colours from the moment you power up, thanks to sRGB colour calibration.<br>
            <br>
            Your espresso displays deliver consistent and accurate hues every time, making everything from daily tasks
            to presentations look just right—no tweaks needed.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
