<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 pt-[0px] pb-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-first w-full"
          >
            <div class="media w-full">
              <div class="image h-full min-h-0 w-full">
                <img
                  alt="espresso jot software"
                  decoding="async"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=100&amp;crop=center"
                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-mac-homepage-mobile.webp?width=3000&amp;crop=center 3000w"
                  width="100"
                  class="rounded-[0px] lg:rounded-[20px] h-auto"
                  draggable="false"
                  style="width: 100%;"
                >
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-lm-background-1"
          >
            <div
              id=""
              class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
            >
              <h2 class="heading currentColor  text-heading-large">espresso for Mac</h2>
              <div class="description text-body-medium currentColor ">
                <div class=" text-body-medium">
                  Discover the perfect companion to your Mac. espresso is designed to unlock a new level of productivity
                  and creativity no matter your work.
                </div>
              </div>
              <div class="flex flex-col items-center lg:items-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-hp-mac"
                  href="/espresso-for-mac"
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
