<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 pt-[0px] pb-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full col-start-1 lg:col-start-4 col-span-4 lg:col-span-6 section information-summary flex justify-center gap-[32px] lg:gap-[40px] flex-col-reverse lg:py-[48px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-12 content-container flex flex-col justify-center gap-[32px] lg:gap-[40px]"
          >
            <h2 class="text-center text-display-medium">Recognised and awarded for excellence by experts in design.</h2>
            <div class="text-center text-subheading-medium flex flex-col">
              <div>Designed and engineered in Australia by people who care about your performance.</div>
            </div>
            <div class="callout-group flex flex-row flex-nowrap justify-evenly order-first lg:justify-center lg:gap-[28px pt-[24px]">
              <div class="callout grid justify-items-center auto-rows-max grid-rows-1">
                <div class="image my-[16px] max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'times-best-2021-homepage-2.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="time best inventions"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max grid-rows-1">
                <div class="image my-[16px] max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'good-design-award-homepage-6541e10872612.png' | asset_url }} "
                      fetchpriority="auto"
                      alt="good design award gold winner"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max grid-rows-1">
                <div class="image my-[16px] max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'ces2024-innovationawardhonoree.png' | asset_url }}"
                      fetchpriority="auto"
                      alt="ces innovation awards 2024 honoree"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max grid-rows-1">
                <div class="image my-[16px] max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ 'reddot-winner-2021-homepage.jpeg' | asset_url }}"
                      fetchpriority="auto"
                      alt="reddot winner"
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain max-w-[90px] max-h-[75px] lg:max-w-[135px] lg:max-h-[110px]"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
