<div id="section-faqs" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 py-[24px] lg:pt-[32px] lg:pb-[64px]">
    <div class="content-block w-full h-full">
      <div class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]">
        <div class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] bg-lm-background-2 text-lm-on-background-2 rounded-lg py-[24px] lg:pt-[64px] lg:pb-[64px]">
          <div class="layout-flex relative h-full col-span-4 flex flex-col lg:col-start-2 lg:col-span-10 gap-[32px] lg:gap-[48px]">
            <h2 class="text-heading-large text-center">FAQs</h2>

            {% assign group_open = false %}
            {% for block in section.blocks %}
              {% if block.type == 'subsection' %}
                {% if group_open %}
                  </div>
                  {% assign group_open = false %}
                {% endif %}
                <h3 class="text-subheading-large px-[20px] lg:px-[0px]">{{ block.settings.title }}</h3>
                <div class="faq-group text-body-large border-b border-[#D9D9D9] px-[20px] lg:px-[0px]">
                {% assign group_open = true %}
              {% elsif block.type == 'faq' %}
                <div class="faq-item">
                  {% render 'pdp-accordion',
                    index: forloop.index0,
                    title: block.settings.question,
                    description: block.settings.answer
                  %}
                </div>
              {% endif %}
              {% if forloop.last and group_open %}
                </div>
                {% assign group_open = false %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Lite FAQs",
  "blocks": [
    {
      "type": "subsection",
      "name": "Subsection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Subsection title"
        }
      ]
    },
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "max_blocks": 50,
  "presets": [
    {
      "name": "Lite FAQs"
    }
  ]
}
{% endschema %}
