<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="w-screen h-[90vh] flex items-center justify-center flex-col gap-6">
  <p class="font-medium text-[32px]">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="font-bold text-[32px]">
    {{ 'templates.404.title' | t }}
  </h1>
  <a
    href="{{ routes.all_products_collection_url }}"
    class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit h-[48px] cursor-pointer"
  >
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
