<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] desktop-small:pt-[70px] desktop-small:pb-[70px] bg-neutral-100 text-lm-on-background-0 py-[20px] lg:py-[48px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col bg-neutral-100 text-lm-on-background-1 gap-[24px]"
        >
          <div class="text-display-small desktop-small:text-display-medium flex flex-col desktop-small:flex-row items-left justify-left text-left">
            <span class="flex  justify-center items-center text-lm-primary">espresso Displays</span
            ><span class="hidden desktop-small:flex">&nbsp;</span
            ><span class="flex justify-center items-center">vs Others</span>
          </div>
          <div class="grid grid-cols-4 flex-row justify-start items-center gap-[20px] text-subheading-medium-heavy desktop-small:text-subheading-large-heavy">
            <div class="col-span-2"></div>
            <div class="flex justify-center items-center text-center text-lm-primary ">espresso Displays</div>
            <div class="flex justify-center items-center ">Others</div>
          </div>
          <div>
            <div class="col-span-full px-[0px] py-[20px] border-b-[1px] border-b-neutral-80">
              <div class="grid grid-cols-4 flex-row justify-start items-center gap-[20px]">
                <div class="col-span-2 text-body-medium font-[700]">Premium aluminium chassis</div>
                <div class="flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path d="M0.5 2C0.5 0.89543 1.39543 0 2.5 0H16.5C17.6046 0 18.5 0.895431 18.5 2V16C18.5 17.1046 17.6046 18 16.5 18H2.5C1.39543 18 0.5 17.1046 0.5 16V2Z" fill="#60269E"></path><path d="M8 13.4L4 9.4L5.4 8L8 10.6L14.6 4L16 5.4L8 13.4Z" fill="white"></path>
                  </svg>
                </div>
                <div class="flex justify-center items-center">-</div>
              </div>
            </div>
            <div class="col-span-full px-[0px] py-[20px] border-b-[1px] border-b-neutral-80">
              <div class="grid grid-cols-4 flex-row justify-start items-center gap-[20px]">
                <div class="col-span-2 text-body-medium font-[700]">High Quality display panel</div>
                <div class="flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path d="M0.5 2C0.5 0.89543 1.39543 0 2.5 0H16.5C17.6046 0 18.5 0.895431 18.5 2V16C18.5 17.1046 17.6046 18 16.5 18H2.5C1.39543 18 0.5 17.1046 0.5 16V2Z" fill="#60269E"></path><path d="M8 13.4L4 9.4L5.4 8L8 10.6L14.6 4L16 5.4L8 13.4Z" fill="white"></path>
                  </svg>
                </div>
                <div class="flex justify-center items-center">-</div>
              </div>
            </div>
            <div class="col-span-full px-[0px] py-[20px] border-b-[1px] border-b-neutral-80">
              <div class="grid grid-cols-4 flex-row justify-start items-center gap-[20px]">
                <div class="col-span-2 text-body-medium font-[700]">Touchscreen for Mac and Windows&nbsp;*</div>
                <div class="flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path d="M0.5 2C0.5 0.89543 1.39543 0 2.5 0H16.5C17.6046 0 18.5 0.895431 18.5 2V16C18.5 17.1046 17.6046 18 16.5 18H2.5C1.39543 18 0.5 17.1046 0.5 16V2Z" fill="#60269E"></path><path d="M8 13.4L4 9.4L5.4 8L8 10.6L14.6 4L16 5.4L8 13.4Z" fill="white"></path>
                  </svg>
                </div>
                <div class="flex justify-center items-center">-</div>
              </div>
            </div>
            <div class="col-span-full px-[0px] py-[20px] border-b-[1px] border-b-neutral-80">
              <div class="grid grid-cols-4 flex-row justify-start items-center gap-[20px]">
                <div class="col-span-2 text-body-medium font-[700]">Magnetic stand and accessories</div>
                <div class="flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path d="M0.5 2C0.5 0.89543 1.39543 0 2.5 0H16.5C17.6046 0 18.5 0.895431 18.5 2V16C18.5 17.1046 17.6046 18 16.5 18H2.5C1.39543 18 0.5 17.1046 0.5 16V2Z" fill="#60269E"></path><path d="M8 13.4L4 9.4L5.4 8L8 10.6L14.6 4L16 5.4L8 13.4Z" fill="white"></path>
                  </svg>
                </div>
                <div class="flex justify-center items-center">-</div>
              </div>
            </div>
            <div class="col-span-full px-[0px] py-[20px] border-b-[1px] border-b-neutral-80">
              <div class="grid grid-cols-4 flex-row justify-start items-center gap-[20px]">
                <div class="col-span-2 text-body-medium font-[700]">Single cable plug and play</div>
                <div class="flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path d="M0.5 2C0.5 0.89543 1.39543 0 2.5 0H16.5C17.6046 0 18.5 0.895431 18.5 2V16C18.5 17.1046 17.6046 18 16.5 18H2.5C1.39543 18 0.5 17.1046 0.5 16V2Z" fill="#60269E"></path><path d="M8 13.4L4 9.4L5.4 8L8 10.6L14.6 4L16 5.4L8 13.4Z" fill="white"></path>
                  </svg>
                </div>
                <div class="flex justify-center items-center">-</div>
              </div>
            </div>
            <div class="col-span-full px-[0px] py-[20px] border-b-[1px] border-b-neutral-80">
              <div class="grid grid-cols-4 flex-row justify-start items-center gap-[20px]">
                <div class="col-span-2 text-body-medium font-[700]">Best in class customer support</div>
                <div class="flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path d="M0.5 2C0.5 0.89543 1.39543 0 2.5 0H16.5C17.6046 0 18.5 0.895431 18.5 2V16C18.5 17.1046 17.6046 18 16.5 18H2.5C1.39543 18 0.5 17.1046 0.5 16V2Z" fill="#60269E"></path><path d="M8 13.4L4 9.4L5.4 8L8 10.6L14.6 4L16 5.4L8 13.4Z" fill="white"></path>
                  </svg>
                </div>
                <div class="flex justify-center items-center">-</div>
              </div>
            </div>
          </div>
          <div class="flex text-body-medium italic">* espresso Touch and Pro</div>
        </div>
      </div>
    </div>
  </div>
</div>
