<div class="relative w-full h-full">
  <div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100">
    <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-neutral-100 text-lm-on-background-1 desktop:px-[0px] overflow-hidden z-[2] w-full h-full">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
        >
          <div id="" class="layout-flex relative h-full col-span-full flex flex-row">
            <div class="relative flex flex-col gap-[64px] w-full h-full select-none overflow-clip">
              <div class="px-[48px] w-full">
                <div class="home-slider-category h-full flex flex-row items-center justify-start gap-[20px] overflow-x-auto desktop:overflow-hidden w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide">
                  <div
                    id="media-element-0"
                    class="flex flex-col items-center snap-center shrink-0 relative w-full desktop:w-full desktop:shrink px-[0px] py-[20px] desktop:px-[70px] desktop:py-[48px]"
                  >
                    <div class="">
                      <div class="flex flex-col gap-[10px] items-center h-[422px] desktop:h-auto desktop:min-h-[422px] ">
                        <div
                          id=""
                          class="layout-flex relative col-span-full content-container flex flex-col flex-grow justify-start items-center text-center h-full w-full gap-[14px]"
                        >
                          <h2 class="heading text-heading-medium currentColor whitespace-pre-wrap">espresso Display</h2>
                          <div class="subheading text-subheading-medium currentColor text-center">
                            Thin and lightweight.
                          </div>
                          <div class="w-full flex flex-row flex-wrap gap-[20px] justify-center ">
                            <a
                              aria-label="Shop"
                              draggable="false"
                              class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer event-hp-v2-displays"
                              href="/products/espressodisplays"
                              >Shop</a
                            >
                          </div>
                        </div>
                        <div
                          id=""
                          class="layout-flex relative col-span-full media flex flex-col justify-center items-center h-[275px] flex-shrink-0 w-full"
                        >
                          <div class="image h-full min-h-0 w-full">
                            <img
                              src="{{ 'image-espresso-displays-home.png' | asset_url }}"
                              loading="eager"
                              fetchpriority="high"
                              alt="espresso displays"
                              width="356"
                              height="236"
                              draggable="false"
                              class="w-full h-full object-contain object-center"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="media-element-1"
                    class="flex flex-col items-center snap-center shrink-0 relative desktop:w-[33%] w-full desktop:max-w-[500px] flex-shrink-0 desktop:border-l-[1px] desktop:border-neutral-80 px-[0px] py-[20px] desktop:px-[70px] desktop:py-[48px]"
                  >
                    <div class="">
                      <div class="flex flex-col gap-[10px] items-center h-[422px] desktop:h-auto desktop:min-h-[422px] ">
                        <div
                          id=""
                          class="layout-flex relative col-span-full content-container flex flex-col flex-grow justify-start items-center text-center h-full w-full gap-[14px]"
                        >
                          <h2 class="heading text-heading-medium currentColor whitespace-pre-wrap">Bundles</h2>
                          <div class="subheading text-subheading-medium currentColor text-center">Bundle and save!</div>
                          <div class="w-full flex flex-row flex-wrap gap-[20px] justify-center ">
                            <a
                              aria-label="Shop bundles"
                              draggable="false"
                              class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer event-hp-v2-bundles"
                              href="/collections/bundles"
                              >Shop bundles</a
                            >
                          </div>
                        </div>
                        <div
                          id=""
                          class="layout-flex relative col-span-full media flex flex-col justify-center items-center h-[275px] flex-shrink-0 w-full"
                        >
                          <div class="image h-full min-h-0 w-full">
                            <img
                              src="{{ 'image-espresso-bundles-home.png' | asset_url }}"
                              loading="eager"
                              fetchpriority="high"
                              alt="espresso displays"
                              width="356"
                              height="236"
                              draggable="false"
                              class="w-full h-full object-contain object-center"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="media-element-2"
                    class="flex flex-col items-center snap-center shrink-0 relative desktop:w-[33%] w-full desktop:max-w-[500px] flex-shrink-0 desktop:border-l-[1px] desktop:border-neutral-80 px-[0px] py-[20px] desktop:px-[70px] desktop:py-[48px]"
                  >
                    <div class="">
                      <div class="flex flex-col gap-[10px] items-center h-[422px] desktop:h-auto desktop:min-h-[422px] ">
                        <div
                          id=""
                          class="layout-flex relative col-span-full content-container flex flex-col flex-grow justify-start items-center text-center h-full w-full gap-[14px]"
                        >
                          <h2 class="heading text-heading-medium currentColor whitespace-pre-wrap">Accessories</h2>
                          <div class="subheading text-subheading-medium currentColor text-center">
                            Browse our accessories.
                          </div>
                          <div class="w-full flex flex-row flex-wrap gap-[20px] justify-center ">
                            <a
                              aria-label="Shop accessories"
                              draggable="false"
                              class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer event-hp-v2-accessories"
                              href="/collections/accessories"
                              >Shop accessories</a
                            >
                          </div>
                        </div>
                        <div
                          id=""
                          class="layout-flex relative col-span-full media flex flex-col justify-center items-center h-[275px] flex-shrink-0 w-full"
                        >
                          <div class="image h-full min-h-0 w-full">
                            <img
                              src="{{ 'image-espresso-accessories-home.png' | asset_url }} "
                              loading="eager"
                              fetchpriority="high"
                              alt="espresso displays"
                              width="356"
                              height="236"
                              draggable="false"
                              class="w-full h-full object-contain object-center"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex desktop:hidden absolute flex-row items-center justify-between w-full h-full bg-lm-transparent pointer-events-none">
                <div class="cursor-pointer pointer-events-auto">
                  <div id="main-category-left-icon" class="icon flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                      <circle cx="20" cy="20" r="20" transform="rotate(180 20 20)" class="fill-[#F2F0F2]/60 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80"></circle><path d="M23.875 13L17 19.875L23.875 26.75" stroke-width="1.125" class="stroke-[#5A5A5A]/60 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 " stroke-linejoin="round"></path>
                    </svg>
                  </div>
                </div>
                <div class="cursor-pointer pointer-events-auto">
                  <div id="main-category-right-icon" class="icon flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                      <circle cx="20" cy="20" r="20" transform="rotate(180 20 20)" class="fill-[#F2F0F2]/60 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80"></circle><path d="M17 13L23.875 19.875L17 26.75" stroke-width="1.125" stroke-linejoin="round" class="stroke-[#5A5A5A]/60 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
