<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse h-full w-full bg-lm-primary">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] desktop-small:pt-[70px] desktop-small:pb-[70px] bg-lm-primary text-neutral-101 py-[32px] desktop-large:py-[70px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div class="section group-image-with-info col-span-full flex flex-col gap-[24px] lg:gap-[24px]">
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
          >
            <div
              id=""
              class="layout-flex relative h-full lg:col-span-6 flex flex-col media lg:order-last w-full col-span-full desktop-small:col-span-6 order-none justify-center"
            >
              <div class="media w-full col-span-full desktop-small:col-span-6 order-none justify-center">
                <div class="image h-full min-h-0 w-full">
                  <img
                    alt="espresso flow productivity software"
                    decoding="async"
                    loading="eager"
                    src="{{ product.images.first.url | asset_url }}"
                    srcset="{{ product.images.first.src | asset_url }}"
                    width="100"
                    height="auto"
                    class="rounded-[0px] lg:rounded-[20px] h-auto"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-transparent col-span-full desktop-small:col-span-6 order-first text-center desktop-small:text-left"
            >
              <div
                id=""
                class="layout-flex relative h-full col-start-1 lg:col-start-1 col-span-4 lg:col-span-5 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
              >
                <h2 class="heading currentColor  text-display-medium">Meet espresso Flow</h2>
                <div class="description text-body-medium currentColor  flex flex-col gap-[20px]">
                  <div class="">
                    A free downloadable software designed to power your espresso Display and desktop experience.
                  </div>
                </div>
                <div class="callout-group flex flex-row justify-evenly lg:justify-evenly gap-[14px] flex-wrap">
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                      <div class="icon flex flex-col items-center">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect x="7" y="18" width="65.614" height="45" rx="11" stroke="currentColor" stroke-width="2"></rect><line x1="49" y1="23" x2="49" y2="58" stroke="currentColor" stroke-width="2" stroke-linecap="round"></line>
                        </svg>
                      </div>
                    </div>
                    <div class="description text-center text-label-medium ">Snap between applications</div>
                  </div>
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                      <div class="icon flex flex-col items-center">
                        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M24.6582 71.4602H38.9367C50.8354 71.4602 55.5949 66.7007 55.5949 54.8019V40.5235C55.5949 28.6247 50.8354 23.8652 38.9367 23.8652H24.6582C12.7595 23.8652 8 28.6247 8 40.5235V54.8019C8 66.7007 12.7595 71.4602 24.6582 71.4602Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M71.4599 30.211C71.4599 17.9315 61.5284 8 49.2489 8L52.5806 13.5527" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="description text-center text-label-medium ">Auto-rotate</div>
                  </div>
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                      <div class="icon flex flex-col items-center">
                        <svg fill="none" height="81" viewBox="0 0 80 81" width="80" xmlns="http://www.w3.org/2000/svg">
                          <g stroke="currentColor"><path d="m28.6304 57.1792v-6.2826h.6957v6.2826c0 5.4268 4.3993 9.8261 9.8261 9.8261h28.8261c5.4268 0 9.826-4.3993 9.826-9.8261v-13.5652c0-5.4268-4.3992-9.8261-9.826-9.8261h-13.9131v-.6956h13.9131c5.811 0 10.5217 4.7107 10.5217 10.5217v13.5652c0 5.811-4.7107 10.5218-10.5217 10.5218h-28.8261c-5.811 0-10.5218-4.7108-10.5218-10.5218z" fill="currentColor"></path><rect height="31.913" rx="11" stroke-width="2" width="47.1739" x="2" y="14.0923"></rect></g>
                        </svg>
                      </div>
                    </div>
                    <div class="description text-center text-label-medium ">Workspace management</div>
                  </div>
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                      <div class="icon flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M78.7126 1.29839C78.9933 1.58345 79.077 2.00835 78.9256 2.3786L49.6726 73.8866C48.2674 77.3215 43.3481 77.1572 42.1754 73.6361L33.2323 46.7867L5.27112 36.9106C1.77629 35.6762 1.69472 30.7634 5.14661 29.4136L77.6358 1.06864C78.0084 0.922956 78.4319 1.01333 78.7126 1.29839ZM35.1704 46.2766L44.0729 73.0041C44.6593 74.7646 47.1189 74.8468 47.8215 73.1293L75.1907 6.22617L35.1704 46.2766ZM73.9187 4.66958L5.87495 31.2763C4.149 31.9512 4.1898 34.4076 5.9372 35.0248L33.7649 44.8537L73.9187 4.66958Z" fill="currentColor"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="description text-center text-label-medium ">Glide</div>
                  </div>
                </div>
                <div class="flex flex-col items-center lg:items-start">
                  <a
                    aria-label="Download espresso Flow"
                    draggable="false"
                    class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer event-pdp-v2-flow"
                    href="httsp://espres.so/downloads"
                    >Download espresso Flow</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
          >
            <div
              id=""
              class="layout-flex relative h-full lg:col-span-6 flex flex-col media lg:order-first w-full col-span-full desktop-small:col-span-6 order-none justify-center"
            >
              <div class="media w-full col-span-full desktop-small:col-span-6 order-none justify-center">
                <div class="image h-full min-h-0 w-full">
                  <img
                    src="{{ 'image-animation-glide-15-pdp.gif' | asset_url }}"
                    fetchpriority="auto"
                    alt="espresso flow productivity software"
                    width=""
                    height=""
                    draggable="false"
                    class="w-full object-contain rounded-[0px] lg:rounded-[20px] h-auto"
                  >
                </div>
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-transparent col-span-full desktop-small:col-span-6 order-first"
            >
              <div
                id=""
                class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
              >
                <h2 class="heading currentColor text-heading-medium">Glide your mouse between screens</h2>
                <div class="description text-body-medium currentColor  flex flex-col gap-[20px]">
                  <div class="">
                    Glide transforms your espresso Display experience, making screen setups effortless and automatic.
                  </div>
                  <div class="">
                    No more manual adjustments or alignment hassles—just move your mouse, and it intuitively flows
                    between your laptop and second display, perfectly oriented every time.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Meet flow updated",
  "class": "custom",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.multirow.blocks.row.settings.image.label"
    },
  ]
}

  

{% endschema%}

