<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse h-full w-full bg-lm-primary">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] desktop-small:pt-[70px] desktop-small:pb-[70px] bg-lm-primary text-neutral-101 py-[32px] desktop-large:py-[70px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div class="section group-image-with-info col-span-full flex flex-col gap-[24px] lg:gap-[24px]">
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
          >
            <div
              id=""
              class="layout-flex relative h-full flex flex-col media lg:order-last w-full col-span-full desktop-small:col-span-6 order-none justify-center"
            >
              <div class="media w-full col-span-full desktop-small:col-span-6 order-none justify-center">
                <div class="image h-full min-h-0 w-full">
                  <img
                    alt="espresso flow productivity software"
                    decoding="async"
                    loading="lazy"
                    src="{{ section.settings.image_option | img_url: 'master' }}"
                    width="100"
                    height="auto"
                    class="rounded-[0px] lg:rounded-[20px] h-auto"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full  grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-transparent col-span-full desktop-small:col-span-6 order-first text-center desktop-small:text-left"
            >
              <div
                id=""
                class="layout-flex relative h-full col-start-1 lg:col-start-1 col-span-4 lg:col-span-5 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
              >
                <h2 class="heading currentColor  text-display-medium">Meet espresso Flow</h2>
                <div class="description text-body-medium currentColor  flex flex-col gap-[20px]">
                  <div class="">
                    A free downloadable software designed to power your espresso Display and desktop experience.
                  </div>
                </div>
                <div class="callout-group flex flex-row justify-evenly lg:justify-evenly gap-[14px] flex-wrap">
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    {% render 'icon', icon: 'snap' %}
                    <div class="description text-center text-label-medium ">Snap between applications</div>
                  </div>
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    {% render 'icon', icon: 'auto-rotate' %}
                    <div class="description text-center text-label-medium ">Auto-rotate</div>
                  </div>
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    {% render 'icon', icon: 'workspace' %}
                    <div class="description text-center text-label-medium ">Workspace management</div>
                  </div>
                  <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-[auto min-content] w-[80px]">
                    {% render 'icon', icon: 'glide' %}
                    <div class="description text-center text-label-medium ">Glide</div>
                  </div>
                </div>
                <div class="flex flex-col items-center lg:items-start">
                  <a
                    aria-label="Download espresso Flow"
                    draggable="false"
                    class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer event-pdp-v2-flow"
                    href="httsp://espres.so/downloads"
                    >Download espresso Flow</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
          >
            <div
              id=""
              class="layout-flex relative h-full flex flex-col media lg:order-first w-full col-span-full desktop-small:col-span-6 order-none justify-center"
            >
              <div class="media w-full col-span-full desktop-small:col-span-6 order-none justify-center">
                <div class="image h-full min-h-0 w-full">
                  <img
                    src="{{ 'image-animation-glide-15-pdp.gif' | asset_url }}"
                    fetchpriority="auto"
                    alt="espresso flow productivity software"
                    width=""
                    height=""
                    draggable="false"
                    class="w-full object-contain rounded-[0px] lg:rounded-[20px] h-auto"
                  >
                </div>
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-transparent col-span-full desktop-small:col-span-6 order-first"
            >
              <div
                id=""
                class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
              >
                <h2 class="heading currentColor text-heading-medium">Glide your mouse between screens</h2>
                <div class="description text-body-medium currentColor  flex flex-col gap-[20px]">
                  <div class="">
                    Glide transforms your espresso Display experience, making screen setups effortless and automatic.
                  </div>
                  <div class="">
                    No more manual adjustments or alignment hassles—just move your mouse, and it intuitively flows
                    between your laptop and second display, perfectly oriented every time.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Meet flow updated",
  "class": "custom",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_option",
      "label": "t:sections.multirow.blocks.row.settings.image.label"
    }
  ],
  "presets": []
}
{% endschema %}
