<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 pt-[0px] pb-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-last w-full"
          >
            <div class="media w-full">
              <div class="image h-full min-h-0 w-full">
                <img
                  alt="espresso flow productivity software"
                  decoding="async"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=100&amp;crop=center"
                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-espressoflow-2x-676x616.webp?width=3000&amp;crop=center 3000w"
                  width="100"
                  class="rounded-[0px] lg:rounded-[20px] h-auto"
                  draggable="false"
                  style="width: 100%;"
                >
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-lm-background-1"
          >
            <div
              id=""
              class="layout-flex relative h-full col-start-1 lg:col-start-1 col-span-4 lg:col-span-5 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
            >
              <h2 class="heading text-heading-large currentColor ">
                Meet <span class="text-lm-primary">espressoFlow</span>
              </h2>
              <div class="description text-body-medium currentColor ">
                <div class="">
                  A free downloadable software designed to supercharge your Display and desktop experience. It is
                  required for touchscreen functionality on Mac.
                </div>
              </div>
              <div class="callout-group flex flex-row justify-evenly lg:justify-evenly gap-[20px] flex-wrap">
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                    <div class="icon flex flex-col items-center">
                      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M55.0542 32.2206C53.4698 32.2206 52.0477 32.9172 51.069 34.0166C50.312 31.9802 48.3546 30.5215 46.0583 30.5215C44.4739 30.5215 43.0517 31.2181 42.073 32.3175C41.3161 30.2811 39.3596 28.8224 37.0624 28.8224C35.6521 28.8224 34.3701 29.3754 33.4135 30.2717V22.5765C33.4135 19.6277 31.0152 17.2285 28.0656 17.2285C25.1168 17.2285 22.7176 19.6277 22.7176 22.5765V33.483V36.1727V46.7786C22.7176 53.9531 26.2373 60.2619 31.5207 63.841H29.7953V66.9555H55.7067V63.841H34.9801C29.1326 61.2244 24.9052 55.2427 24.4159 48.154V36.4047V30.5215V22.5765C24.4159 20.5647 26.053 18.9276 28.0647 18.9276C30.0765 18.9276 31.7136 20.5647 31.7136 22.5765V34.1703V40.9031H33.4127V34.1703C33.4127 32.1586 35.0498 30.5215 37.0615 30.5215C39.0733 30.5215 40.7095 32.1586 40.7095 34.1703V35.8694V38.5175V41.8936H42.4086V38.526V35.8694C42.4086 33.8577 44.0466 32.2206 46.0574 32.2206C48.07 32.2206 49.7063 33.8577 49.7063 35.8694V37.5686V39.7681V43.0269H51.4054V39.825V37.5686C51.4054 35.5568 53.0433 33.9197 55.0542 33.9197C57.0668 33.9197 58.7031 35.5568 58.7031 37.5686V42.3532V47.527V48.154C58.4176 52.3007 56.851 56.0685 54.4324 59.0071V61.4895C57.9733 57.9315 60.2365 52.9328 60.3894 47.3724C60.3928 47.3741 60.3979 47.3741 60.403 47.3741V46.7786V45.9273V37.5686C60.4022 34.6198 58.003 32.2206 55.0542 32.2206Z" fill="#111111"></path><path d="M27.9135 15.6991C31.8478 15.6991 35.0506 18.8629 35.1271 22.7784H36.8262C36.7489 17.9258 32.784 14 27.9135 14C23.043 14 19.0773 17.9258 19 22.7784H20.6991C20.7756 18.8629 23.9792 15.6991 27.9135 15.6991Z" fill="#111111"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Touch for mac</div>
                </div>
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                    <div class="icon flex flex-col items-center">
                      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="7" y="18" width="65.614" height="45" rx="11" stroke="#111111" stroke-width="2"></rect><line x1="49" y1="23" x2="49" y2="58" stroke="#111111" stroke-width="2" stroke-linecap="round"></line>
                      </svg>
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Snap between applications</div>
                </div>
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                    <div class="icon flex flex-col items-center">
                      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.6582 71.4602H38.9367C50.8354 71.4602 55.5949 66.7007 55.5949 54.8019V40.5235C55.5949 28.6247 50.8354 23.8652 38.9367 23.8652H24.6582C12.7595 23.8652 8 28.6247 8 40.5235V54.8019C8 66.7007 12.7595 71.4602 24.6582 71.4602Z" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M71.4599 30.211C71.4599 17.9315 61.5284 8 49.2489 8L52.5806 13.5527" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Auto-rotate</div>
                </div>
                <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] w-[120px]">
                  <div class="icon max-w-[96px] max-h-[96px] py-[16px]">
                    <div class="icon flex flex-col items-center">
                      <svg fill="none" height="81" viewBox="0 0 80 81" width="80" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="#111"><path d="m28.6304 57.1792v-6.2826h.6957v6.2826c0 5.4268 4.3993 9.8261 9.8261 9.8261h28.8261c5.4268 0 9.826-4.3993 9.826-9.8261v-13.5652c0-5.4268-4.3992-9.8261-9.826-9.8261h-13.9131v-.6956h13.9131c5.811 0 10.5217 4.7107 10.5217 10.5217v13.5652c0 5.811-4.7107 10.5218-10.5217 10.5218h-28.8261c-5.811 0-10.5218-4.7108-10.5218-10.5218z" fill="#111"></path><rect height="31.913" rx="11" stroke-width="2" width="47.1739" x="2" y="14.0923"></rect></g>
                      </svg>
                    </div>
                  </div>
                  <div class="description text-center text-label-medium ">Workspace management</div>
                </div>
              </div>
              <div class="flex flex-col items-center lg:items-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-hp-flow"
                  href="https://espres.so/download"
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
