<div id="section-accessories" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 py-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div id="" class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col gap-[32px] lg:gap-[92px]">
          <h2 class="lg:col-span-6 text-display-medium">Optimise your espresso 17 Pro.</h2>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[32px] lg:gap-y-[64px]"
          >
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 auto-rows-max gap-x-[8px] gap-y-[40px] lg:gap-x-[40px]"
            >
              <div class="col-span-full bg-lm-background-2 rounded-[10px] lg:rounded-[20px]">
                <div class="image h-full min-h-0 w-full">
                  <img
                    alt="espresso display 17 pro"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/34-hero-front-mg3-display-mode-1-6508fd0db6ecf.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class=""
                    draggable="false"
                    style="width: 100%;"
                    height="auto"
                  >
                </div>
              </div>
              <h3 class="col-span-full heading text-heading-extralarge currentColor ">
                Customise with&nbsp;<span class="text-lm-primary">Stand</span>
              </h3>
              <div class="description text-body-medium col-span-5 currentColor ">
                Set your display at the perfect height and angle by attaching magnetically to the Stand Pro. A sturdy
                design that can adjust for writing or drawing at an 18-degree angle.
              </div>
              <div class="col-start-1 col-span-full items-center lg:items-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-pdp-v3-stand-learn"
                  href="/products/espresso-stand-pro"
                  >Learn more</a
                >
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 auto-rows-max gap-x-[8px] gap-y-[40px] lg:gap-x-[40px]"
            >
              <div class="col-span-full bg-lm-background-2 rounded-[10px] lg:rounded-[20px]">
                <div class="image h-full min-h-0 w-full">
                  <img
                    alt="espresso charge"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay17-charger-2x-676x424.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class=""
                    draggable="false"
                    style="width: 100%;"
                    height="auto"
                  >
                </div>
              </div>
              <h3 class="col-span-full heading text-heading-extralarge currentColor ">
                Power with&nbsp;<span class="text-lm-primary">Charge</span>
              </h3>
              <div class="description text-body-medium col-span-5 currentColor ">
                Power your mobile workstation with confidence. Up to a day’s work with laptop and display. Charge is
                customised to fit magnetically with the Stand Pro and the Pro 17. 32,000mAh/118.4Wh*.
                <div class="text-body-small">
                  *Check with your airline regarding any safety requirements when traveling with batteries. Charge ships
                  separately at no extra shipping cost. Please allow 2-4 weeks for delivery.
                </div>
              </div>
              <div class="col-start-1 col-span-full items-center lg:items-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-pdp-v3-charge-learn"
                  href="/products/espresso-charge"
                  >Learn more</a
                >
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 auto-rows-max gap-x-[8px] gap-y-[40px] lg:gap-x-[40px]"
            >
              <div class="col-span-full bg-lm-background-2 rounded-[10px] lg:rounded-[20px]">
                <div class="image h-full min-h-0 w-full">
                  <img
                    alt="espresso pen"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espressodisplay-17-pen-2x-676x424.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class=""
                    draggable="false"
                    style="width: 100%;"
                    height="auto"
                  >
                </div>
              </div>
              <h3 class="col-span-full heading text-heading-extralarge currentColor ">
                Create with&nbsp;<span class="text-lm-primary">Pen</span>
              </h3>
              <div class="description text-body-medium col-span-5 currentColor ">
                Unleash your creativity, writing, and annotations with a premium pen that has been calibrated for
                precise, smooth and seamless functions. Low-latency makes for a natural writing experience.
              </div>
              <div class="col-start-1 col-span-full items-center lg:items-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-pdp-v3-pen-learn"
                  href="/products/espresso-pen"
                  >Learn more</a
                >
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 auto-rows-max gap-x-[8px] gap-y-[40px] lg:gap-x-[40px]"
            >
              <div class="col-span-full bg-lm-background-2 rounded-[10px] lg:rounded-[20px]">
                <div class="image h-full min-h-0 w-full">
                  <img
                    alt="espresso creator"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-creator_bundle_pdp--676x424.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class=""
                    draggable="false"
                    style="width: 100%;"
                    height="auto"
                  >
                </div>
              </div>
              <h3 class="col-span-full heading text-heading-extralarge currentColor ">
                Craft with&nbsp;<span class="text-lm-primary">Creator</span>
              </h3>
              <div class="description text-body-medium col-span-5 currentColor ">
                A paper-esque surface for your display. Make your espresso screen-space feel like it's a paper notepad
                with Creator.
              </div>
              <div class="col-start-1 col-span-full items-center lg:items-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer event-pdp-v3-creator-learn"
                  href="/products/espressocreator"
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
