<div class="section-nav-desktop product-nav hidden lg:flex  w-full max-w-content-max-w  text-lm-on-neutral-1 text-label-medium z-[29] shadow-[0px_8px_34px_-8px_rgba(0,0,0,0.1)] top-[95px] h-[60px] border-b border-neutral-60 bg-neutral-90">
  <div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
    <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] w-full h-full">
      <div class="content-block w-full h-full">
        <div
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
        >
          <div class="layout-flex relative col-span-4 lg:col-span-12 flex flex-row w-full h-[60px]">
            <div class=" flex flex-row justify-between items-center h-full w-full">
              {% for metafield in product.metafields.custom.navigation.value %}
                {% render 'nav-item', href: metafield.html_id.value, label: metafield.title.value %}
              {% endfor %}
              <div class="h-full border-b border-neutral-60 bg-neutral-90">
                <div
                  draggable="false"
                  class="cursor-pointer relative px-[15px] h-full w-full flex flex-col justify-center group text-lm-on-neutral-1-hover pb-[5px] transition-all duration-300 border-neutral-60 hover:border-b-2 border-transparent hover:border-lm-on-neutral-1-hover"
                >
                  <div class="product-nav-item !mx-0">
                    <form class="" method="post" action="/cart/add">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                      <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1">
                      <input
                        type="submit"
                        value="Buy now"
                        class="relative px-[15px] h-full w-full flex flex-col justify-center group text-lm-inverse-on-primary text-label-medium-heavy cursor-pointer"
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer="true" src="{{ 'pdp-product-nav.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Product Navigation",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Navigation",
      "category": "Custom"
    }
  ]
}
{% endschema %}
