<div id="section-features" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-neutral-3 text-lm-on-background-5 py-[24px] lg:pt-[64px] lg:pb-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-first"
          >
            <div class="media">
              <div class="image h-full min-h-0 w-full">
                <img
                  width="auto"
                  height="auto"
                  alt="espresso display 17pro"
                  decoding="async"
                  loading="eager"
                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=100&amp;crop=center"
                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso17_colours--746x636.webp?width=3000&amp;crop=center 3000w"
                  width="100"
                  class="right-[16px] relative lg:right-[70px]"
                  draggable="false"
                  style="width: 100%;"
                >
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-lm-neutral-3"
          >
            <div
              id=""
              class="layout-flex relative h-full full lg:half col-span-4 lg:col-span-6 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
            >
              <h2 class="heading currentColor  text-display-medium">
                Deep and vibrant picture quality in every colour spectrum.
              </h2>
              <div class="description text-body-medium currentColor ">
                <div class="">Take your content to the next level. A truly immersive visual experience.</div>
              </div>
            </div>
          </div>
        </div>
        <div
          id=""
          class="layout-grid relative h-full grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] callout-group justify-between col-span-4 lg:col-span-12 gap-y-[24px]"
        >
          <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] col-span-2 lg:col-span-3">
            <div class="image max-w-[96px] max-h-[96px] my-[16px]">
              <div class="image h-full min-h-0 w-full">
                <img
                  src="{{ 'icon-colours--96x96.png' | asset_url }}"
                  fetchpriority="auto"
                  alt="1 billion colours"
                  width=""
                  height=""
                  draggable="false"
                  class="w-full h-full object-contain"
                >
              </div>
            </div>
            <div class="highlight text-center text-heading-extralarge">1 billion</div>
            <div class="description text-center text-subheading-extralarge">colours</div>
          </div>
          <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] col-span-2 lg:col-span-3">
            <div class="image max-w-[96px] max-h-[96px] my-[16px]">
              <div class="image h-full min-h-0 w-full">
                <img
                  src="{{ 'icon-brightness--96x96.png' | asset_url}}"
                  fetchpriority="auto"
                  alt="High brightness"
                  width=""
                  height=""
                  draggable="false"
                  class="w-full h-full object-contain"
                >
              </div>
            </div>
            <div class="highlight text-center text-heading-extralarge">Incredible</div>
            <div class="description text-center text-subheading-extralarge">peak brightness</div>
          </div>
          <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] col-span-2 lg:col-span-3">
            <div class="image max-w-[96px] max-h-[96px] my-[16px]">
              <div class="image h-full min-h-0 w-full">
                <img
                  src="{{ 'icon-range--96x96.png' | asset_url }}"
                  fetchpriority="auto"
                  alt="Professional colour range"
                  width=""
                  height=""
                  draggable="false"
                  class="w-full h-full object-contain"
                >
              </div>
            </div>
            <div class="highlight text-center text-heading-extralarge">Professional</div>
            <div class="description text-center text-subheading-extralarge">colour range</div>
          </div>
          <div class="callout grid justify-items-center auto-rows-max grid-rows-[auto min-content] col-span-2 lg:col-span-3">
            <div class="image max-w-[96px] max-h-[96px] my-[16px]">
              <div class="image h-full min-h-0 w-full">
                <img
                  src="{{ 'icon-bit--96x96.png' | asset_url }}"
                  fetchpriority="auto"
                  alt="10 bit colour"
                  width=""
                  height=""
                  draggable="false"
                  class="w-full h-full object-contain"
                >
              </div>
            </div>
            <div class="highlight text-center text-heading-extralarge">10</div>
            <div class="description text-center  text-subheading-extralarge">bit colour</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
