<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-[#1A1A1A] text-lm-on-background-5 py-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] gap-[32px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-4 flex flex-col gap-[32px] lg:gap-[32px]"
          >
            <h2 class="lg:col-span-7 text-display-medium">LiveTouch<span class="align-super text-[22px]">TM</span></h2>
            <div class="lg:col-start-9 lg:col-span-4 text-body-medium flex flex-col justify-center gap-[16px] ">
              <div>For any style of writing, sketching, or creative output.</div>
              <div>LiveTouch is our way of delivering a smooth and refined touch experience.</div>
              <div>
                For 17 Pro, we have built custom touch drivers from the ground up to deliver smooth and seamless gesture
                movements, precise pen commands, and beautiful scrolling.
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-flex relative h-full col-start-1 lg:col-start-7 col-span-4 lg:col-span-6 flex flex-col"
          >
            <video
              id="video-touch-espressodisplays"
              autoplay=""
              loop=""
              playsinline=""
              controls=""
              preload="metadata"
              poster="{{ 'video-touch-espressodisplays.webp' | asset_url }}"
              class="rounded-[10px] lg:rounded-[20px]"
              alt="video-touch-espressodisplays"
              aria-label="video-touch-espressodisplays"
            >
              <track src="{{ 'no_captions.vtt' | asset_url }}" kind="captions" srclang="en" label="english_captions">
              Your browser does not support the video tag.
              <source src="{{ 'video-touch-espressodisplays.webm' | asset_url }}" type="video/webm">
              <source src="{{ 'video-touch-espressodisplays.mp4' | asset_url }}" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
