<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-5 text-lm-on-background-5 pt-[24px] lg:pt-[136px] pb-[0px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div class="block lg:hidden section-background h-full col-span-full">
          <div class="flex flex-col">
            <div class="content-block h-full col-span-full">
              <div
                id=""
                class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[32px] lg:gap-y-[0px]"
              >
                <h2 class="lg:col-span-5 text-display-medium">Professional grade colours.</h2>
                <div
                  id=""
                  class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col lg:col-start-7 gap-[32px] lg:gap-[16px]"
                >
                  <div class="text-heading-large">A cinematic visual experience, anywhere.</div>
                  <div class="text-body-small">
                    The 100% DCI-P3 colour range coverage and 4K resolution reproduce your content in its truest form.
                  </div>
                </div>
              </div>
            </div>
            <div class="image h-full min-h-0 w-full">
              <img
                src="{{ 'image-professional-colors.webp' | asset_url }}"
                fetchpriority="auto"
                alt="cinema"
                width=""
                height=""
                draggable="false"
                class="w-full h-full object-cover"
              >
            </div>
          </div>
        </div>
        <div class="hidden lg:block section-background h-full col-span-full">
          <div class="flex flex-col">
            <div class="image h-full min-h-0 w-full">
              <img
                src="{{ 'image-professional-colors.webp' | asset_url }}"
                fetchpriority="auto"
                alt="cinema"
                width=""
                height=""
                draggable="false"
                class="w-full h-full object-cover"
              >
            </div>
            <div class="content-block w-full h-full col-span-full absolute">
              <div
                id=""
                class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[32px] lg:gap-y-[0px]"
              >
                <h2 class="lg:col-span-5 text-display-medium">Professional grade colours.</h2>
                <div
                  id=""
                  class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col lg:col-start-7 gap-[32px] lg:gap-[16px]"
                >
                  <div class="text-heading-large">A cinematic visual experience, anywhere.</div>
                  <div class="text-body-small">
                    The 100% DCI-P3 colour range coverage and 4K resolution reproduce your content in its truest form.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "espresso pro color 2",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "espresso pro color 2",
      "category": "Custom"
    }
  ]
}
{% endschema %}
