<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 py-[24px] lg:py-[48px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] bg-lm-background-2 text-lm-on-background-2 rounded-lg py-[24px] lg:py-[48px] gap-y-[88px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 flex flex-col gap-y-[40px] text-center lg:col-start-3 lg:col-span-8"
          >
            <h2 class="text-display-small text-center" id="section-techspecs">Tech specs</h2>
            {% for spec in product.selected_or_first_available_variant.metafields.custom.tech_specs.value %}
              <div class="lg:col-start-1 lg:col-span-10 text-body-large">{{ spec }}</div>
            {% endfor %}

            {% if product.selected_or_first_available_variant.metafields.custom.technical_spec_sheet.value != empty %}
              <div class="h-full w-full flex flex-col items-center col-span-full px-[16px]">
                <a
                  href="{{ product.selected_or_first_available_variant.metafields.custom.technical_spec_sheet.value }}"
                  draggable="false"
                  rel="noopener noreferrer"
                  target="_blank"
                  class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit h-[48px] cursor-pointer"
                  >Download tech spec sheet</a
                >
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
