<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 py-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]">
        <div class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col gap-[32px] lg:gap-[92px]">
          <h2 class="lg:col-span-6 text-display-medium">What's included</h2>
          <div class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[32px] lg:gap-y-[64px]">
            {% for includeditem in product.metafields.custom.whats_included.value %}
              <div class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[40px]">
                <div class="col-span-full bg-lm-background-2 rounded-[10px] lg:rounded-[20px] h-[225px] lg:h-[425px]">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      src="{{ includeditem.image.value | image_url }}"
                      fetchpriority="auto"
                      alt=""
                      width=""
                      height=""
                      draggable="false"
                      class="w-full h-full object-contain"
                    >
                  </div>
                </div>
                <h3 class="heading text-heading-extralarge col-span-full currentColor">
                  {{ includeditem.title.value }}
                </h3>
                <div class="description text-body-medium col-span-5 currentColor">
                  {{ includeditem.description.value }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Whats Included",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Whats Included",
      "category": "Custom"
    }
  ]
}
{% endschema %}
