<div
  id=""
  class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[32px] desktop-small:pb-[70px] bg-neutral-100">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full col-start-[1] desktop-small:col-start-[1] col-span-4 desktop-small:col-span-12 flex flex-col justify-center gap-[24px]"
        >
          <div class="flex flex-col justify-center gap-[12px]">
            <h3 class="text-heading-large">Contact our team</h3>
            <div class="text-body-medium">
              <span class="font-bold text-neutral-00">Still unsure on which espresso is right for you?</span> We're here
              to help. Our friendly team will be able to answer any questions within the hour.
            </div>
          </div>
          <a
            draggable="false"
            rel="noopener noreferrer"
            class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap bg-primary-40 hover:bg-primary-50 active:bg-primary-60 px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer text-primary-101"
            aria-label="Contact Support"
            data-discover="true"
            href="/contact"
            target="_blank"
            >Contact Support</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
