{% comment %}
  {%
    assign faqs =
    [
    {
    "question": "What is a portable monitor, and why would I need one?",
    "answer": "Let's face it, more screen space is a good thing.<br><br>One screen can become a major bottleneck for high-performance work and your ability to structure your workflow. If you've ever worked from a single laptop screen, you'll know the pain: juggling tabs, jumping between conference calls, emails, creative apps, documents, spreadsheets, deep creative workflows and more.<br><br>That's where portable monitors come in. They give you the freedom to bring a second (or even third) screen with you, so you can recreate your desktop setup anywhere, without compromise.<br><br>We also know that having the freedom to get up, move between work locations, or even set up to get inspired in different locations, can make a world of difference to how you immerse yourself in your work.<br><br>For business travellers and professionals on the move, compromises to performance when working on the road should be minimal…. that's where espresso Displays come in.<br><br>In short, more space at your fingertips, anywhere."
    },
    {
    "question": "Why would I need an espresso Display?",
    "answer": "Modern work isn't tied to a desk. espresso Displays are made for people who need premium performance from their gear, wherever they go and whatever they do.<br><br>Our products are designed to set the benchmark for portable monitors. They are well designed, simple to use, built with durable aluminum, and are highly compatible with just about any device or software.<br><br>Whether you're a corporate traveler, content producer on the move, hybrid worker, or digital nomad, you know the value of well designed high quality product and the positive impact it can have on your work.<br><br>Our products make it easy for high-performers to do great work, anywhere."
    },
    {
    "question": "What does espresso offer that's different from other portable monitors?",
    "answer": "espresso Displays and accessories are carefully crafted products to support how people work on the go. They are built for performance, simplicity and for people who want their tools to work, every time.<br><br>When it comes to portable monitors, there are a few things to weigh up when choosing the best product for you but to summarise, below is just a snapshot of our core features:<br><br><ul><li><strong>Aluminum & Glass</strong>: Each display is crafted from a single sheet of aluminum and fused with hardened glass. It's a simple and effective design for life on the go.</li><li><strong>Magnetic & Ergonomic Stand</strong>: With a magnetic attachment to the back of the espresso Display, you can set up your monitor in landscape or portrait in seconds. With the addition of our Stand+ design, you can also set up a more ergonomic viewing angle positioned above your laptop screen.</li><li><strong>Single Cable Connection</strong>: Simple ‘plug and play' with Mac, Windows, iPad, iPhone, Samsung Galaxy via a single USB-C cable. With two ports on the display that deliver power passthrough, you can also charge your device with additional power. We also have adapter cables if your device does not have USB-C connection.</li><li><strong>Touch for Mac & Windows</strong>: Scroll, pinch and zoom, mark-up, take notes (and more). We offer an interactive experience for your portable monitor experience which makes for better ease of use and workflow.</li><li><strong>Our software</strong>: We make our own software to ensure the touch and multi-screen experience is seamless. Simple things like auto screen rotation (portrait or landscape), repositioning based on monitor location, and brightness/color control, it's all integrated into espressoFlow.</li><li><strong>Global support team</strong>: Our support team also hustles to deliver for our customers when they have questions if ever things don't go to plan.</li></ul>"
    },
    {
    "question": "How do I choose the right espresso Display for me?",
    "answer": "<ul><li><strong>espresso Display 15</strong>: a great balance of screen space, durable design, and portability. Our most popular model with the fundamental features that make espresso Displays the best option for people on the move.</li><li><strong>espresso Touch 13 & 15</strong>: the original range from espresso Displays. Interactive touch brings the Display experience to new levels with everything you need to maximise your potential anywhere, whatever the task.</li><li><strong>espresso Pro 15 & 17</strong>: maximum screen performance, excellent brightness levels, amazing color range (more than 1 billion!), touch capability, and sleek black matte design.</li></ul>"
    },
    {
    "question": "How does it connect to my laptop or device?",
    "answer": "With just one USB-C cable. It powers your display and transmits video at once. No clutter, no mess. If your device doesn't support USB-C video, we offer HDMI or DisplayPort adapters too."
    },
    {
    "question": "Will it work with my Mac or Windows setup?",
    "answer": "Yes. All espresso Displays work with both macOS and Windows. For best performance on MacBooks, we recommend using a Thunderbolt port (look for the lightning bolt symbol). It's fast, smooth, and plug-and-play."
    },
    {
    "question": "Do I need to install anything to get started?",
    "answer": "You can plug it in and start using it straight away. But to unlock full control with brightness, snapping windows, screen layout, touch for Mac, we recommend downloading our free app: espresso Flow."
    },
    {
    "question": "What is espresso Flow?",
    "answer": "Flow is our free productivity software that gives you total control of your workspace.<br><br><ul><li>Autorotate between portrait and landscape</li><li>Detect your screen's position with cursor movements using Glide</li><li>Snap windows between screens</li><li>Customise your layout</li><li>Adjust brightness or orientation</li><li>Manage your pen setup</li></ul>"
    },
    {
    "question": "Is the screen bright enough to use in different lighting?",
    "answer": "espresso Displays are built for work in a range of environments — offices, cafés, client sites, coworking spaces. Our displays start at 300 nits brightness, and move up to 450 and 550 nits respectively across our Pro range.<br><br>You can read more about brightness and portable monitors on <a href=\"https://blog.espres.so/posts/portable-monitors-and-display-brightness-levels\" class=\"underline\">our blog here</a>."
    },
    {
    "question": "What kind of color gamuts are available with espresso Displays?",
    "answer": "Our displays provide a range between 100% sRGB (16.7 million colours), 100% Adobe RGB (1.07 billion colors), and 100% DCI-P3 (1.07 billion colors). For consistency out of the box, our displays are color calibrated at the factory, however, they can be calibrated with third party tools like Datacolor.<br><br>If you're serious about production, you probably already calibrate your displays but you can read more about brightness and portable monitors on <a href=\"https://blog.espres.so/posts/choosing-the-right-espresso-display-for-color-accuracy\" class=\"underline\">our blog here</a>."
    },
    {
    "question": "Is espresso Display durable enough for travel?",
    "answer": "Absolutely. Each display is machined from aluminum, built for performance and protection. It's perfect to slip into any bag or case. You can combine your travel setup with one of our <a href=\"#\" class=\"font-bold\">travel case</a> or magnetic stands for the most secure, mobile setup possible."
    },
    {
    "question": "What's the pen experience like?",
    "answer": "espresso Pen is a great tool for general tasks like sketching, note-taking, markups, light creative work, and more. It's pressure-sensitive, and built with the Microsoft Pen Protocol 2.0.<br><br>While it's not going to offer the same levels of precision that a dedicated art tablet will, the espresso Pen is ideal for sketching, note-taking, reviewing designs, or presenting ideas on the go."
    },
    {
    "question": "How long does setup take?",
    "answer": "Seconds. Unfold your stand. Plug in your USB-C cable. Start working. It's as fast as it looks."
    }
    ]
  %}
{% endcomment %}

<div id="section-faqs" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 py-[24px] lg:pt-[32px] lg:pb-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] bg-lm-background-2 text-lm-on-background-2 rounded-lg py-[24px] lg:pt-[64px] lg:pb-[64px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 flex flex-col lg:col-start-2 lg:col-span-10 gap-[32px] lg:gap-[64px]"
          >
            <h2 class="text-heading-large text-center">FAQs</h2>
            <div class=" text-body-large  border-b border-[#D9D9D9] px-[20px] lg:px-[0px]">
              <div class="faq-section">
                {% comment %}
                  {% for faq in faqs %}
                    <div class="faq-item">
                      {% render 'pdp-accordion', index: forloop.index0, title: faq.question, description: faq.answer %}
                    </div>
                  {% endfor %}
                {% endcomment %}

                {% for block in section.blocks %}
                  <div class="faq-item">
                    {% render 'pdp-accordion',
                      index: forloop.index0,
                      title: block.settings.question,
                      description: block.settings.answer
                    %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Explore FAQs",
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Explore FAQs"
    }
  ]
}
{% endschema %}
