<div
  id="section-whyespresso"
  class="section relative flex lg:flex-col items-center flex-col-reverse h-full w-full bg-neutral-0"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] pt-[32px] desktop-small:pt-[70px] pb-[32px] desktop-small:pb-[70px] bg-neutral-0 text-neutral-101">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div id="" class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col gap-[32px]">
          <div class="content-container flex flex-col gap-[32px] lg:gap-[56px]">
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-[32px] lg:gap-[24px]"
            >
              <h2 class="col-span-full lg:col-span-6 text-heading-large">
                Lightweight and durable.<br>
                Built for travel.
              </h2>
              <div class="col-span-full lg:col-span-6 text-body-medium flex flex-col justify-start">
                Designed for life on the move, this portable screen is lightweight yet durable, making it the perfect
                companion for business travellers and remote workers who need a reliable tool on the go.
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-[32px] lg:gap-[24px]"
          >
            <div class="col-span-full flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="rounded-[16px]"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
            <div class="col-span-full desktop:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-2-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="rounded-[16px]"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
            <div class="col-span-full desktop:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-3-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="rounded-[16px]"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
            <div class="col-span-full flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-4-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="rounded-[16px]"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
            <div class="col-span-full desktop:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-5-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="rounded-[16px]"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
            <div class="col-span-full desktop:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-6-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="rounded-[16px]"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
