<div
  id="section-compare"
  class="section relative flex desktop-small:flex-col items-center flex-col-reverse h-full w-full bg-neutral-100"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] text-neutral-00 bg-neutral-100">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
      >
        <div class="col-span-full ">
          <h2 class="text-center desktop-small:text-left text-heading-extralarge">Compare our models</h2>
        </div>

        <div class="carousel-wrapper relative flex flex-col gap-[64px] col-span-full h-full select-none overflow-clip">
          <div class="px-[30px] desktop-small:px-[0px] py-[70px] w-full">
            <div class="carousel-scroll h-full flex flex-row items-center justify-start desktop-small:justify-between gap-[12px] desktop:gap-[12px] overflow-x-auto desktop:overflow-hidden w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide">
              <div
                id="media-element-carousel-card-0"
                class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-[50%] desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
              >
                <div class="flex flex-col gap-[0px] desktop-small:gap-[0px] w-full capitalize">
                  <div class="text-center text-heading-medium capitalize"><div class=" text-center">display</div></div>
                </div>
                <div class="text-center text-body-small px-[10px] w-full h-[40px]">
                  The mobile productivity essential. Great value.
                </div>
                <div class="flex flex-col items-center w-full h-[200px] p-[24px] border-b-[1px] border-neutral-80 w-full">
                  <a
                    class="w-full h-full"
                    aria-label="view product display"
                    data-discover="true"
                    href="/products/espresso-display?size=15"
                  >
                    <div class="image h-full min-h-0 w-full">
                      <img
                        alt="view espresso displays Display 15"
                        decoding="async"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-display15-standplus-plus-quarter-productphoto_-_18421.webp?v=1741757315&amp;width=1800&amp;crop=center"
                        srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-display15-standplus-plus-quarter-productphoto_-_18421.webp?v=1741757315&amp;width=1800&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-display15-standplus-plus-quarter-productphoto_-_18421.webp?v=1741757315&amp;width=3600&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-display15-standplus-plus-quarter-productphoto_-_18421.webp?v=1741757315&amp;width=5400&amp;crop=center 3x"
                        width="1800"
                        fetchpriority="auto"
                        draggable="false"
                        class="w-full h-full object-contain max-h-full max-w-full"
                      >
                    </div>
                  </a>
                </div>
                <div class="flex flex-col items-center w-full">
                  <div class="text-subheading-small-heavy">Sizes</div>
                  <div class="text-center text-heading-large ">15.6"</div>
                </div>
                <div class="flex flex-col justify-center items-center gap-[16px] w-full">
                  <a
                    aria-label="learn more about Display 15"
                    draggable="false"
                    class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap bg-secondary-30 hover:bg-secondary-20 active:bg-secondary-10 w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer text-secondary-100 event-which-display-learn"
                    data-discover="true"
                    href="/products/espresso-display?size=15"
                    >Learn more</a
                  >
                </div>
              </div>
              <div
                id="media-element-carousel-card-1"
                class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-[50%] desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
              >
                <div class="flex flex-col gap-[0px] desktop-small:gap-[0px] w-full capitalize">
                  <div class="text-center text-heading-medium capitalize"><div class=" text-center">touch</div></div>
                </div>
                <div class="text-center text-body-small px-[10px] w-full h-[40px]">
                  Compact touchscreen. For basic work on the go.
                </div>
                <div class="flex flex-col items-center w-full h-[200px] p-[24px] border-b-[1px] border-neutral-80 w-full">
                  <a
                    class="w-full h-full"
                    aria-label="view product touch"
                    data-discover="true"
                    href="/products/espresso-touch?size=13"
                  >
                    <div class="image h-full min-h-0 w-full">
                      <img
                        alt="view espresso displays Touch 13"
                        decoding="async"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-touch13-standplus-plus-quarter-productphoto-transfer_23e8127f-48a9-4668-98cb-5553a1a79cee.webp?v=1740978820&amp;width=1800&amp;crop=center"
                        srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-touch13-standplus-plus-quarter-productphoto-transfer_23e8127f-48a9-4668-98cb-5553a1a79cee.webp?v=1740978820&amp;width=1800&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-touch13-standplus-plus-quarter-productphoto-transfer_23e8127f-48a9-4668-98cb-5553a1a79cee.webp?v=1740978820&amp;width=3600&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-pdp-touch13-standplus-plus-quarter-productphoto-transfer_23e8127f-48a9-4668-98cb-5553a1a79cee.webp?v=1740978820&amp;width=5400&amp;crop=center 3x"
                        width="1800"
                        fetchpriority="auto"
                        draggable="false"
                        class="w-full h-full object-contain max-h-full max-w-full"
                      >
                    </div>
                  </a>
                </div>
                <div class="flex flex-col items-center w-full">
                  <div class="text-subheading-small-heavy">Sizes</div>
                  <div class="text-center text-heading-large ">13.3" / 15.6"</div>
                </div>
                <div class="flex flex-col justify-center items-center gap-[16px] w-full">
                  <a
                    aria-label="learn more about Touch 13"
                    draggable="false"
                    class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap bg-secondary-30 hover:bg-secondary-20 active:bg-secondary-10 w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer text-secondary-100 event-which-display-learn"
                    data-discover="true"
                    href="/products/espresso-touch?size=13"
                    >Learn more</a
                  >
                </div>
              </div>
              <div
                id="media-element-carousel-card-2"
                class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-[50%] desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
              >
                <div class="flex flex-col gap-[0px] desktop-small:gap-[0px] w-full capitalize">
                  <div class="text-center text-heading-medium capitalize"><div class=" text-center">pro</div></div>
                </div>
                <div class="text-center text-body-small px-[10px] w-full h-[40px]">
                  The ultimate choice for pro-grade work. Compact and powerful.
                </div>
                <div class="flex flex-col items-center w-full h-[200px] p-[24px] border-b-[1px] border-neutral-80 w-full">
                  <a
                    class="w-full h-full"
                    aria-label="view product pro"
                    data-discover="true"
                    href="/products/espresso-pro?size=15"
                  >
                    <div class="image h-full min-h-0 w-full">
                      <img
                        alt="view espresso displays Pro 15"
                        decoding="async"
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-15-pdp.webp?v=1752627253&amp;width=1800&amp;crop=center"
                        srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-15-pdp.webp?v=1752627253&amp;width=1800&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-15-pdp.webp?v=1752627253&amp;width=3600&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-15-pdp.webp?v=1752627253&amp;width=5400&amp;crop=center 3x"
                        width="1800"
                        fetchpriority="auto"
                        draggable="false"
                        class="w-full h-full object-contain max-h-full max-w-full"
                      >
                    </div>
                  </a>
                </div>
                <div class="flex flex-col items-center w-full">
                  <div class="text-subheading-small-heavy">Sizes</div>
                  <div class="text-center text-heading-large ">15.6" / 17.3"</div>
                </div>
                <div class="flex flex-col justify-center items-center gap-[16px] w-full">
                  <a
                    aria-label="learn more about Pro 15"
                    draggable="false"
                    class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap bg-secondary-30 hover:bg-secondary-20 active:bg-secondary-10 w-[130px] h-[48px] px-[16px] py-[8px] text-label-medium cursor-pointer text-secondary-100 event-which-display-learn"
                    data-discover="true"
                    href="/products/espresso-pro?size=15"
                    >Learn more</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="flex absolute w-full h-full bg-lm-transparent pointer-events-none flex-row justify-center gap-[48px] items-end">
            <div class="cursor-pointer pointer-events-auto" data-direction="-1">
              <div class="icon flex flex-col items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                  <rect y="0.78418" width="40" height="40" rx="20" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M23 27.7842L16.125 20.9092L23 14.0342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                </svg>
              </div>
            </div>
            <div class="cursor-pointer pointer-events-auto" data-direction="1">
              <div class="icon flex flex-col items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                  <rect x="40" y="40.7842" width="40" height="40" rx="20" transform="rotate(-180 40 40.7842)" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" transform="rotate(-180 20 20.7842)" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M17 13.7842L23.875 20.6592L17 27.5342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.carousel-wrapper').forEach((wrapper) => {
    const carousel = wrapper.querySelector('.carousel-scroll');
    const firstChild = carousel.querySelector(':scope > *');
    const scrollAmount = firstChild ? firstChild.offsetWidth : 0;

    wrapper.querySelectorAll('[data-direction]').forEach((btn) => {
      btn.addEventListener('click', function () {
        const direction = parseInt(this.getAttribute('data-direction'), 10);
        carousel.scrollBy({
          left: direction * scrollAmount,
          behavior: 'smooth',
        });
      });
    });
  });
</script>
