<div class="relative w-full h-full">
  <div
    id="section-explore-models"
    class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
  >
    <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[32px] desktop-small:pt-[70px] pb-[16px] desktop-small:pb-[35px] bg-neutral-100 text-lm-on-background-1 overflow-hidden z-[2] w-full h-full">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
        >
          <div class="w-full flex flex-col gap-[8px] col-span-full">
            <h3 class="text-subheading-small uppercase">Simple, seamless and designed to help you achieve</h3>
            <h2 class="text-heading-large  ">Explore our range</h2>
            <p class="text-body-medium text-neutral-50">Your ultimate tool for productivity awaits.</p>
          </div>
          <div id="" class="layout-flex relative h-full col-span-full flex flex-row">
            <div class="relative flex flex-col gap-[64px] w-full h-full select-none overflow-clip">
              <div class="px-[30px] desktop-small:px-[0px] py-[70px] w-full">
                <div class="h-full flex flex-row items-center justify-start desktop-small:justify-between gap-[12px] desktop:gap-[12px] overflow-x-auto desktop:overflow-hidden w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide">
                  <div
                    id="media-element-carousel-card-0"
                    class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                      >
                        <a
                          class="w-full h-full"
                          aria-label="espresso displays display model"
                          data-discover="true"
                          href="/products/espresso-display"
                        >
                          <div class="image h-full min-h-0 w-full">
                            <img
                              alt="espresso displays"
                              decoding="async"
                              loading="lazy"
                              src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=450&amp;crop=center"
                              srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display.webp?width=3000&amp;crop=center 3000w"
                              width="450"
                              class="min-h-[236px] w-full h-full object-contain object-center"
                              draggable="false"
                            >
                          </div>
                        </a>
                      </div>
                      <div
                        id=""
                        class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                      >
                        <div class="flex flex-col items-center gap-[12px]">
                          <h3 class="heading text-heading-small currentColor capitalize">display</h3>
                          <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                            Dual-screen performance.
                          </div>
                        </div>
                        <div class="w-full flex flex-row flex-wrap gap-[20px] justify-center ">
                          <a
                            aria-label="Learn more"
                            draggable="false"
                            class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap border border-secondary-30 bg-secondary-101 hover:bg-secondary-90 active:bg-secondary-80 px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer text-secondary-30"
                            data-discover="true"
                            href="/products/espresso-display"
                            >Learn more</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="media-element-carousel-card-1"
                    class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                      >
                        <a
                          class="w-full h-full"
                          aria-label="espresso displays touch model"
                          data-discover="true"
                          href="/products/espresso-touch"
                        >
                          <div class="image h-full min-h-0 w-full">
                            <img
                              alt="espresso displays"
                              decoding="async"
                              loading="lazy"
                              src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=450&amp;crop=center"
                              srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch.webp?width=3000&amp;crop=center 3000w"
                              width="450"
                              class="min-h-[236px] w-full h-full object-contain object-center"
                              draggable="false"
                            >
                          </div>
                        </a>
                      </div>
                      <div
                        id=""
                        class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                      >
                        <div class="flex flex-col items-center gap-[12px]">
                          <h3 class="heading text-heading-small currentColor capitalize">touch</h3>
                          <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                            Interactive touchscreen.
                          </div>
                        </div>
                        <div class="w-full flex flex-row flex-wrap gap-[20px] justify-center ">
                          <a
                            aria-label="Learn more"
                            draggable="false"
                            class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap border border-secondary-30 bg-secondary-101 hover:bg-secondary-90 active:bg-secondary-80 px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer text-secondary-30"
                            data-discover="true"
                            href="/products/espresso-touch"
                            >Learn more</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="media-element-carousel-card-2"
                    class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                      >
                        <a
                          class="w-full h-full"
                          aria-label="espresso displays pro model"
                          data-discover="true"
                          href="/products/espresso-pro"
                        >
                          <div class="image h-full min-h-0 w-full">
                            <img
                              alt="espresso displays"
                              decoding="async"
                              loading="lazy"
                              src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=450&amp;crop=center"
                              srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-pro.webp?width=3000&amp;crop=center 3000w"
                              width="450"
                              class="min-h-[236px] w-full h-full object-contain object-center"
                              draggable="false"
                            >
                          </div>
                        </a>
                      </div>
                      <div
                        id=""
                        class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                      >
                        <div class="flex flex-col items-center gap-[12px]">
                          <h3 class="heading text-heading-small currentColor  capitalize">pro</h3>
                          <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                            Elite-grade power.
                          </div>
                        </div>
                        <div class="w-full flex flex-row flex-wrap gap-[20px] justify-center ">
                          <a
                            aria-label="Learn more"
                            draggable="false"
                            class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap border border-secondary-30 bg-secondary-101 hover:bg-secondary-90 active:bg-secondary-80 px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer text-secondary-30"
                            data-discover="true"
                            href="/products/espresso-pro"
                            >Learn more</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex absolute w-full h-full bg-lm-transparent pointer-events-none flex-row justify-center gap-[48px] items-end">
                <div class="cursor-pointer pointer-events-auto">
                  <div class="icon flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                      <rect y="0.78418" width="40" height="40" rx="20" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M23 27.7842L16.125 20.9092L23 14.0342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                    </svg>
                  </div>
                </div>
                <div class="cursor-pointer pointer-events-auto">
                  <div class="icon flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                      <rect x="40" y="40.7842" width="40" height="40" rx="20" transform="rotate(-180 40 40.7842)" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" transform="rotate(-180 20 20.7842)" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M17 13.7842L23.875 20.6592L17 27.5342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
