<div
  id=""
  class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] bg-neutral-100 text-neutral-00 py-[20px] desktop-small:py-[48px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full col-start-[1] desktop-small:col-start-[1] col-span-full desktop-small:col-span-full section information-summary flex flex-col justify-center gap-[32px] desktop-small:gap-[40px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 content-container flex flex-col justify-center gap-[32px] desktop-small:gap-[24px] items-center"
          >
            <div class="w-full">
              <h3 class="text-center text-heading-extralarge">Recognised by industry experts</h3>
            </div>
            <div
              id=""
              class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid auto-rows-max desktop-small:gap-x-[20px] callout-group justify-between place-items-center grid-cols-3 grid-rows-2 desktop-small:grid-cols-6 desktop-small:grid-rows-1 gap-[40px] w-full max-w-[500px] desktop-small:max-w-[1000px]"
            >
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 h-[90px] col-span-1">
                <div class="image max-h-[96px] my-[8px] max-h-none max-w-none">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      alt="ces innovation awards 2025 honoree"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2025.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2025.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2025.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2025.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-contain max-h-none max-w-none"
                      draggable="false"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 h-[90px] col-span-1">
                <div class="image max-h-[96px] my-[8px] max-h-none max-w-none">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      alt="ces innovation awards 2024 honoree"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2024.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2024.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2024.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-ces-2024.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-contain max-h-none max-w-none"
                      draggable="false"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 h-[90px] col-span-1">
                <div class="image max-h-[96px] my-[8px] max-h-none max-w-none">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      alt="reddot winner"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-reddot-2021.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-reddot-2021.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-reddot-2021.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-reddot-2021.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-contain max-h-none max-w-none"
                      draggable="false"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 h-[90px] col-span-1">
                <div class="image max-h-[96px] my-[8px] max-h-none max-w-none">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      alt="time best inventions"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-time.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-time.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-time.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-time.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-contain max-h-none max-w-none"
                      draggable="false"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 h-[90px] col-span-1">
                <div class="image max-h-[96px] my-[8px] max-h-none max-w-none">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      alt="techradar winner"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-techradar.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-techradar.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-techradar.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-techradar.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-contain max-h-none max-w-none"
                      draggable="false"
                    >
                  </div>
                </div>
              </div>
              <div class="callout grid justify-items-center auto-rows-max py-[4px] grid-rows-1 desktop-small:col-span-1 h-[90px] col-span-1">
                <div class="image max-h-[96px] my-[8px] max-h-none max-w-none">
                  <div class="image h-full min-h-0 w-full">
                    <img
                      alt="good design award gold winner"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-gooddesign.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-gooddesign.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-gooddesign.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-award-gooddesign.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-contain max-h-none max-w-none"
                      draggable="false"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
