<div
  id="section-home-espresso-usps"
  class="section relative flex desktop-small:flex-col items-center flex-col-reverse h-full w-full bg-neutral-95"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[32px] desktop-small:pt-[70px] pb-[32px] desktop-small:pb-[70px] text-neutral-101 gap-[20px] desktop-small:gap-[20px] bg-neutral-95">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
      >
        <div id="" class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-col gap-[32px]">
          <div
            id=""
            class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-[20px] desktop-small:gap-[20px] bg-neutral-95"
          >
            <div class="col-span-full desktop:col-span-6 flex flex-col justify-center items-center gap-[40px] p-[32px] desktop-small:p-[70px] rounded-[16px] flex-1 text-center desktop-small:text-left relative w-full aspect-[900/695] bg-neutral-90 h-auto desktop:h-full">
              <div class="w-full h-full max-h-full max-w-full flex flex-col items-center justify-center order-last">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="animation stand plus fold"
                    decoding="async"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-standplus-plus-mode.webp?width=460&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-standplus-plus-mode.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-standplus-plus-mode.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-standplus-plus-mode.webp?width=1380&amp;crop=center 3x"
                    width="460"
                    class="h-full w-full desktop-small:w-auto desktop-small:h-full object-contain"
                    draggable="false"
                  >
                </div>
              </div>
              <div class="flex flex-col z-[2] justify-start h-auto gap-[0px]">
                <div class="w-full text-center text-neutral-00 text-heading-small">
                  Create your best workspace anywhere.
                </div>
                <div class="w-full text-center text-neutral-30 text-heading-small font-[400]">Set up in seconds.</div>
              </div>
            </div>
            <div class="col-span-full desktop:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left relative w-full h-full aspect-[900/695]">
              <div class="w-full h-full max-h-full max-w-full flex flex-col items-center justify-center absolute top-[0px] left-[0px]">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-business-travel-lifestyle.webp?width=460&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-business-travel-lifestyle.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-business-travel-lifestyle.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-business-travel-lifestyle.webp?width=1380&amp;crop=center 3x"
                    width="460"
                    class="rounded-[16px] h-full w-full object-cover"
                    draggable="false"
                  >
                </div>
              </div>
              <div class="flex flex-col justify-end gap-[20px] z-[2] h-full p-[32px] desktop-small:p-[70px]">
                <div class="w-full text-center text-neutral-101 text-heading-small font-[400]">
                  Perfect for <span class="text-neutral-101 text-heading-small">business travel</span> and
                  <span class="text-neutral-101 text-heading-small">professionals on the go.</span>
                </div>
              </div>
            </div>
            <div class="col-span-full desktop:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left relative w-full h-full aspect-[900/695]">
              <div class="w-full h-full max-h-full max-w-full flex flex-col items-center justify-center absolute top-[0px] left-[0px]">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-touchscreen-lifestyle.webp?width=460&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-touchscreen-lifestyle.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-touchscreen-lifestyle.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-touchscreen-lifestyle.webp?width=1380&amp;crop=center 3x"
                    width="460"
                    class="rounded-[16px] h-full w-full object-cover"
                    draggable="false"
                  >
                </div>
              </div>
              <div class="flex flex-col justify-end z-[2] h-full p-[32px] desktop-small:p-[70px] gap-[0px]">
                <div class="w-full text-center text-neutral-101 text-heading-small font-[400]">
                  Interactive touchscreen.
                </div>
                <div class="w-full text-center text-neutral-101 text-heading-small">
                  Compatible with <span class="text-neutral-101 text-heading-small">Mac and Windows.</span>
                </div>
              </div>
            </div>
            <div class="col-span-full desktop:col-span-6 flex flex-col justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left relative w-full h-full aspect-[900/695] bg-neutral-50">
              <div class="w-full h-full max-h-full max-w-full flex flex-col items-center justify-center absolute top-[0px] left-[0px]">
                <div class="image min-h-0 object-cover w-full h-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-portable-lifestyle.webp?width=460&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-portable-lifestyle.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-portable-lifestyle.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-portable-lifestyle.webp?width=1380&amp;crop=center 3x"
                    width="460"
                    class="rounded-[16px] h-full w-full object-cover"
                    draggable="false"
                  >
                </div>
              </div>
              <div class="flex flex-col justify-end z-[2] h-full p-[32px] desktop-small:p-[70px] gap-[0px]">
                <div class="w-full text-center text-neutral-101 text-heading-small">Lightweight and durable.</div>
                <div class="w-full text-center text-neutral-101 text-heading-small font-[400]">
                  Aluminium and glass design.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
