<div
  id="section-accessories"
  class="section relative flex lg:flex-col items-center flex-col-reverse h-full w-full bg-neutral-0"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] bg-neutral-0 text-neutral-101">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div id="" class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col gap-[32px]">
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-[32px] lg:gap-[24px]"
          >
            <div class="col-span-full desktop-small:col-span-6 desktop:col-span-7 flex flex-col justify-center items-center gap-[40px] p-[32px] desktop-small:p-[70px] rounded-[16px] flex-1 text-center desktop-small:text-left desktop-small:h-[700px] bg-lm-primary">
              <div class="w-full text-display-medium text-neutral-101">What's in the box.</div>
              <div class="w-full text-body-medium text-neutral-101">
                Inside the box, you'll find everything you need to get your display up and running in minutes. No
                software is required for Mac and Windows—just plug it in and you're ready to go. Simplicity and
                productivity, straight out of the box.
              </div>
              <hr class="w-full h-[1px] bg-neutral-80">
              <div class="w-full text-body-medium text-neutral-101">
                <div class="flex flex-row gap-[20px] items-center">
                  <div class="max-w-[85px]">
                    <div class="logo flex flex-col items-center h-[85px]">
                      <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
                        <g clip-path="url(#clip0_56473_2070)"><mask id="mask0_56473_2070" maskUnits="userSpaceOnUse" x="0" y="0" width="96" height="96" style="mask-type: luminance;"><path d="M74.5002 0H21.4998C9.62579 0 0 9.62579 0 21.4998V74.5002C0 86.3742 9.62579 96 21.4998 96H74.5002C86.3742 96 96 86.3742 96 74.5002V21.4998C96 9.62579 86.3742 0 74.5002 0Z" fill="white"></path></mask><g mask="url(#mask0_56473_2070)"><path d="M74.5002 0H21.4998C9.62579 0 0 9.62579 0 21.4998V74.5002C0 86.3742 9.62579 96 21.4998 96H74.5002C86.3742 96 96 86.3742 96 74.5002V21.4998C96 9.62579 86.3742 0 74.5002 0Z" fill="white"></path><path d="M74.5002 0H21.4998C9.62579 0 0 9.62579 0 21.4998V74.5002C0 86.3742 9.62579 96 21.4998 96H74.5002C86.3742 96 96 86.3742 96 74.5002V21.4998C96 9.62579 86.3742 0 74.5002 0Z" fill="url(#paint0_linear_56473_2070)"></path><path d="M86.3942 -0.404297H60.2016C61.0416 1.60774 61.5321 3.89823 61.5321 6.46483V6.95065H18.5313C18.741 4.24425 19.3713 1.74638 20.3523 -0.404297H-0.658203V40.4668C7.53558 51.7771 22.4529 58.0229 42.2028 58.0229C63.0035 58.0229 78.7608 50.3895 87.1655 37.1359L66.3647 27.699C61.6719 35.1938 53.3383 39.3565 42.9729 39.3565C28.8257 39.3565 19.6509 32.626 18.6711 21.8004H88.9154V15.4171C88.9154 9.58833 88.0754 4.31415 86.3942 -0.404297Z" fill="white"></path><path d="M40.9422 67.1731C22.0323 67.1731 7.46568 73.6962 -0.658203 85.3537V96.8725H19.1616C21.4032 88.0601 29.0366 82.8558 40.5927 82.8558C52.1488 82.8558 59.7123 88.0601 61.2525 96.8725H87.4451C82.6824 77.9987 66.3647 67.1731 40.9422 67.1731Z" fill="white"></path></g></g><defs><linearGradient id="paint0_linear_56473_2070" x1="0" y1="48" x2="96" y2="48" gradientUnits="userSpaceOnUse"><stop stop-color="#6F5D83"></stop><stop offset="0.6" stop-color="#4A1A77"></stop><stop offset="1" stop-color="#3A125F"></stop></linearGradient><clipPath id="clip0_56473_2070"><rect width="96" height="96" fill="white"></rect></clipPath></defs>
                      </svg>
                    </div>
                  </div>
                  <div>
                    With every purchase you get access to espressoFlow app for custom display settings for Mac and
                    Windows users.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-span-full desktop-small:col-span-6 desktop:col-span-5 flex flex-col justify-center items-center gap-[40px] p-[32px] desktop-small:p-[70px] rounded-[16px] flex-1 text-center desktop-small:text-left desktop-small:h-[700px] bg-neutral-101">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 h-full w-auto object-cover">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-display-compare1.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="h-full w-auto"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
              <div class="w-full text-heading-extralarge text-neutral-00">15” LED Display.</div>
              <div class="w-full text-body-medium text-neutral-00">
                Ultra-thin portable display crafted with premium materials. Seamlessly work anywhere with a lightweight,
                durable design that adapts to your needs.
              </div>
            </div>
            <div class="col-span-full desktop-small:col-span-5 flex flex-col justify-center items-center gap-[40px] p-[32px] desktop-small:p-[70px] rounded-[16px] flex-1 text-center desktop-small:text-left bg-primary-90">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 h-full w-auto object-cover">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-15-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="h-full w-auto"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
              <div class="w-full text-heading-extralarge text-neutral-00">Elevate with Stand+</div>
              <div class="w-full text-body-medium text-neutral-00">
                A versatile, ergonomic stand crafted with premium materials, offering flexible height adjustment and a
                sleek, portable design.
              </div>
              <div class="flex flex-row w-full justify-center desktop-small:justify-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer"
                  href="/products/espresso-stand-plus"
                  >Learn more</a
                >
              </div>
            </div>
            <div class="col-span-full desktop-small:col-span-7 flex flex-col bg-neutral-20 gap-[40px] p-[32px] desktop-small:p-[70px] rounded-[16px] flex-1 text-center desktop-small:text-left items-center justify-center">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover h-auto w-full">
                  <img
                    alt="display work anywhere"
                    decoding="async"
                    loading="eager"
                    src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=100&amp;crop=center"
                    srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-cable-15-pdp.webp?width=3000&amp;crop=center 3000w"
                    width="100"
                    class="h-auto w-full"
                    draggable="false"
                    style="width: 100%;"
                  >
                </div>
              </div>
              <div class="w-full text-heading-extralarge text-neutral-101">One cable, it’s that simple.</div>
              <div class="w-full text-body-medium text-neutral-101">
                Connect to thousands of devices via a single USB-C connection (espresso USB-C cable included in the
                box). If your device doesn’t support USB-C for power, video, and data, you may need an HDMI or Mini
                DisplayPort adapter (sold separately).
              </div>
              <div class="flex flex-row w-full justify-center desktop-small:justify-start">
                <a
                  aria-label="Learn more"
                  draggable="false"
                  class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px] whitespace-pre-wrap border-[1px] border-lm-outline-primary bg-lm-inverse-primary text-lm-inverse-on-primary hover:bg-lm-inverse-primary-hover active:bg-lm-inverse-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer"
                  href="/products/usb-c"
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
