<div
  id="section-home-software"
  class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-95"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[32px] desktop-small:pt-[70px] pb-[32px] desktop-small:pb-[70px] text-neutral-00">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-col gap-[32px] desktop-small:gap-[56px]"
        >
          <div class="content-container flex flex-col gap-[32px] desktop-small:gap-[56px]">
            <div
              id=""
              class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max desktop-small:gap-x-[20px] gap-[12px]"
            >
              <h3 class="col-span-full desktop-small:col-span-6 text-heading-extralarge text-center desktop-small:text-left">
                Enhance your display experience
              </h3>
              <div class="col-start-[1] desktop-large:col-start-[7] col-span-full desktop-large:col-span-6 text-body-medium flex flex-col justify-start text-center desktop-small:text-left ">
                espresso Displays support all your essential productivity and creative apps, ensuring seamless workflow.
              </div>
            </div>
          </div>
          <div class="image min-h-0 w-full h-[450px] desktop-small:h-[650px] rounded-[16px]">
            <img
              alt="image from espresso Displays"
              decoding="async"
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-download-software-lifestyle.webp?width=460&amp;crop=center"
              srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-download-software-lifestyle.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-download-software-lifestyle.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-home-download-software-lifestyle.webp?width=1380&amp;crop=center 3x"
              width="460"
              class="w-full rounded-[16px] h-[450px] desktop-small:h-[650px] object-cover object-center"
              draggable="false"
            >
          </div>
          <div class="flex flex-col items-center desktop-small:items-start">
            <a
              aria-label="Download espressoFlow for free"
              draggable="false"
              class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap border border-secondary-30 bg-secondary-101 hover:bg-secondary-90 active:bg-secondary-80 px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer text-secondary-30"
              data-discover="true"
              href="https://us.espres.so/download"
            >
              <div class="flex flex-row gap-[8px] items-center">
                <span>Download espressoFlow for free</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87666 3.87207L16.0046 10L9.87666 16.128L9.2874 15.5387L14.4094 10.4167H3.33203V9.58336H14.4094L9.2874 4.46133L9.87666 3.87207Z" fill="currentColor"></path>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
