<div class="relative w-full h-full">
  <div
    id="section-explore-usps"
    class="section relative flex desktop-small:flex-col items-center flex-col-reverse h-full w-full bg-neutral-100"
  >
    <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] text-neutral-101 bg-neutral-100">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
        >
          <div id="" class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-col gap-[32px]">
            <div class="content-container flex flex-col gap-[32px] desktop-small:gap-[56px]">
              <div
                id=""
                class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-[32px] desktop-small:gap-[24px] bg-neutral-100"
              >
                <h3 class="col-span-full desktop-small:col-span-full text-display-large text-center desktop-small:text-center text-neutral-00">
                  Create your best workspace anywhere.
                </h3>
              </div>
            </div>
            <div
              id=""
              class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-[20px] desktop-small:gap-[20px]"
            >
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="animation stand plus fold"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-1.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-1.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-1.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-1.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-cover"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  Simple and seamless design with durable materials.
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="animation stand plus fold"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-2.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-2.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-2.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-2.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-cover"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  Perfect for hybrid locations.
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="animation stand magnets"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-3.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-3.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-3.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-3.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-cover"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  Customisable for any environment.
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="animation stand magnets"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-4.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-4.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-4.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-usp-4.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-cover"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  Sleek, ultra-thin aluminium chassis.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
