<div class="relative w-full h-full">
  <div
    id="section-explore-sizes"
    class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
  >
    <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] bg-neutral-100 text-lm-on-background-1 z-[2] w-full h-full">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
        >
          <div class="w-full flex flex-col gap-[8px] col-span-full pb-[32px]">
            <h3 class="text-subheading-small uppercase">SIZE AND WEIGHT</h3>
            <h2 class="text-heading-large  ">The right size for how you work</h2>
            <p class="text-body-medium text-neutral-50">
              <span class="font-bold text-neutral-00">Three perfectly portable sizes.</span> The 13” espresso Touch is
              the ultimate on-the-go monitor, the 15” model gives you more space on screen for multitasking. The 17” is
              even bigger, but shorter in height, packing more screen in and taking up less space in your bag.
            </p>
          </div>
          <div class="col-span-full flex flex-col items-center gap-[64px]">
            <div class="col-span-4 desktop-small:col-span-12 flex flex-col">
              <div class="flex flex-row w-full justify-center">
                <div class="text-heading-medium">Display Sizes</div>
              </div>
              <div
                id=""
                class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-row pb-[20px]"
              >
                <div class="relative flex flex-col gap-[64px] w-full h-full select-none overflow-clip">
                  <div class="desktop-small:px-[0px] py-[70px] w-full px-[0px] pt-[0px] pb-[50px]">
                    <div class="h-full flex flex-row items-center justify-start desktop-small:justify-between gap-[12px] desktop:gap-[12px] overflow-x-auto desktop:overflow-hidden w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide">
                      <div
                        id="media-element-carousel-card-0"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays display model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=232&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-display-13.webp?width=3000&amp;crop=center 3000w"
                                  width="232"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor capitalize text-heading-extralarge text-neutral-40">
                                13"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                Ultra-light and compact. Ideal for short journeys.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                touch 13
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-1"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays touch model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=232&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-touch-15.webp?width=3000&amp;crop=center 3000w"
                                  width="232"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                15"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                A full-sized second screen that fits in your bag.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                display 15 / touch 15
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-2"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays touch model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=232&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-15.webp?width=3000&amp;crop=center 3000w"
                                  width="232"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor capitalize text-heading-extralarge text-neutral-40">
                                15"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                The brightest display for pro-grade work.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                pro 15
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-3"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays pro model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=232&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-only-pro-17.webp?width=3000&amp;crop=center 3000w"
                                  width="232"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                17"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                The largest and most powerful display.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                pro 17
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex absolute w-full h-full bg-lm-transparent pointer-events-none flex-row justify-center gap-[48px] items-end">
                    <div class="cursor-pointer pointer-events-auto">
                      <div class="icon flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                          <rect y="0.78418" width="40" height="40" rx="20" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M23 27.7842L16.125 20.9092L23 14.0342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                        </svg>
                      </div>
                    </div>
                    <div class="cursor-pointer pointer-events-auto">
                      <div class="icon flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                          <rect x="40" y="40.7842" width="40" height="40" rx="20" transform="rotate(-180 40 40.7842)" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" transform="rotate(-180 20 20.7842)" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M17 13.7842L23.875 20.6592L17 27.5342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-span-4 desktop-small:col-span-12 flex flex-col">
              <div class="flex flex-row w-full justify-center">
                <div class="text-heading-medium">Setup with Laptop</div>
              </div>
              <div
                id=""
                class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-row pb-[20px]"
              >
                <div class="relative flex flex-col gap-[64px] w-full h-full select-none overflow-clip">
                  <div class="desktop-small:px-[0px] py-[70px] w-full px-[0px] pt-[0px] pb-[50px]">
                    <div class="h-full flex flex-row items-center justify-start desktop-small:justify-between gap-[12px] desktop:gap-[12px] overflow-x-auto desktop:overflow-hidden w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide">
                      <div
                        id="media-element-carousel-card-0"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays display model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-13.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                13"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                For professionals who travel light.<br>
                                Ideal for mobile work, and staying sharp in tight spaces.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                touch 13
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-1"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays touch model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-15.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor capitalize text-heading-extralarge text-neutral-40">
                                15"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                Solid performance, portability.<br>
                                Perfect for everyday hybrid work.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                display 15 / touch 15
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-2"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays pro model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                15"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                Maximum performance. The ultimate compact workspace.<br>
                                For high-powered work.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                pro 15
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-3"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full"
                              aria-label="espresso displays pro model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-laptop-17.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                17"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                An elite-grade studio for the road.<br>
                                For professionals who lead the pack.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                pro 17
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex absolute w-full h-full bg-lm-transparent pointer-events-none flex-row justify-center gap-[48px] items-end">
                    <div class="cursor-pointer pointer-events-auto">
                      <div class="icon flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                          <rect y="0.78418" width="40" height="40" rx="20" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M23 27.7842L16.125 20.9092L23 14.0342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                        </svg>
                      </div>
                    </div>
                    <div class="cursor-pointer pointer-events-auto">
                      <div class="icon flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                          <rect x="40" y="40.7842" width="40" height="40" rx="20" transform="rotate(-180 40 40.7842)" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" transform="rotate(-180 20 20.7842)" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M17 13.7842L23.875 20.6592L17 27.5342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-row w-full justify-left">
                <div class="text-subheading-small">*Laptop pictured is a 14-inch Apple MacBook Pro</div>
              </div>
            </div>
            <div class="col-span-4 desktop-small:col-span-12 flex flex-col">
              <div class="flex flex-row w-full justify-center"><div class="text-heading-medium">Backpack</div></div>
              <div
                id=""
                class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-row pb-[20px]"
              >
                <div class="relative flex flex-col gap-[64px] w-full h-full select-none overflow-clip">
                  <div class="desktop-small:px-[0px] py-[70px] w-full px-[0px] pt-[0px] pb-[50px]">
                    <div class="h-full flex flex-row items-center justify-start desktop-small:justify-between gap-[12px] desktop:gap-[12px] overflow-x-auto desktop:overflow-hidden w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide">
                      <div
                        id="media-element-carousel-card-0"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full max-h-[300px]"
                              aria-label="espresso displays display model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-13.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                13"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                Slim format to fit within any format.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                touch 13
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-1"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full max-h-[300px]"
                              aria-label="espresso displays touch model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-15.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                15"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                Slim and sleek to easily fit alongside your laptop.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                display 15 / touch 15
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-2"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full max-h-[300px]"
                              aria-label="espresso displays pro model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-pro-15.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor  capitalize text-heading-extralarge text-neutral-40">
                                15"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                Sleek, compact, and powerful.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                pro 15
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        id="media-element-carousel-card-3"
                        class="flex flex-col items-center snap-center shrink-0 flex-shrink-0 h-full relative w-full desktop:w-full desktop:flex-shrink py-[25px] desktop-small:px-[20px] rounded-[16px] bg-transparent"
                      >
                        <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start">
                          <div
                            id=""
                            class="layout-flex relative col-span-full media flex flex-col justify-center items-center desktop-small:flex-shrink-0 w-full h-auto desktop-small:h-auto"
                          >
                            <a
                              class="w-full h-full max-h-[300px]"
                              aria-label="espresso displays pro model"
                              data-discover="true"
                              href="/explore"
                            >
                              <div class="image h-full min-h-0 w-full">
                                <img
                                  alt="espresso displays"
                                  decoding="async"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=450&amp;crop=center"
                                  srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-display-backpack-17.webp?width=3000&amp;crop=center 3000w"
                                  width="450"
                                  class="min-h-[236px] w-full h-full object-contain object-center"
                                  draggable="false"
                                >
                              </div>
                            </a>
                          </div>
                          <div
                            id=""
                            class="layout-flex relative h-full col-span-full content-container flex flex-col justify-between items-center text-center w-full gap-[10px]"
                          >
                            <div class="flex flex-col items-center gap-[12px]">
                              <h3 class="heading currentColor capitalize text-heading-extralarge text-neutral-40">
                                17"
                              </h3>
                              <div class="subheading text-body-medium currentColor text-center text-neutral-40">
                                Minimalist form-factor to maximise space and screen size.
                              </div>
                              <div class="products text-body-medium currentColor text-center capitalize text-neutral-40 font-bold">
                                pro 17
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex absolute w-full h-full bg-lm-transparent pointer-events-none flex-row justify-center gap-[48px] items-end">
                    <div class="cursor-pointer pointer-events-auto">
                      <div class="icon flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                          <rect y="0.78418" width="40" height="40" rx="20" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M23 27.7842L16.125 20.9092L23 14.0342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                        </svg>
                      </div>
                    </div>
                    <div class="cursor-pointer pointer-events-auto">
                      <div class="icon flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                          <rect x="40" y="40.7842" width="40" height="40" rx="20" transform="rotate(-180 40 40.7842)" fill="white"></rect><circle opacity="0.7" cx="20" cy="20.7842" r="19.5" transform="rotate(-180 20 20.7842)" class="fill-neutral-101 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80 stroke-neutral-00/70"></circle><path d="M17 13.7842L23.875 20.6592L17 27.5342" stroke-linejoin="round" class="stroke-neutral-00 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-row w-full justify-left">
                <div class="text-subheading-small">*Backpack pictured is a Bellroy Melbourne backpack</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
