<div class="bg-neutral-101 text-neutral-101 w-full h-[500px] desktop-small:h-[930px] flex flex-col items-center">
  <div class="flex flex-col items-center relative h-full w-full max-w-content-max-width">
    <div class="background absolute w-full h-full">
      <div class="image min-h-0 h-full w-full">
        <picture class="w-full h-full">
          <source
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-touch-homepage-banner-460-mobile.webp"
            media="(max-width: 1024px)">
          <source
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-touch-homepage-banner-460-mobile.webp 375w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-touch-homepage-banner-640-mobile.webp 1024w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-touch-homepage-banner-desktop.webp 1280w"
            sizes="(min-width: 1024px) 100vw, (min-width: 1280px) 100vw, 100vw"
            media="(min-width: 1025px)">
          <img
            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-touch-homepage-banner-460-mobile.webp"
            fetchpriority="auto"
            alt="espresso pro"
            width=""
            height=""
            draggable="false"
            class="h-full w-full object-cover object-center overflow-hidden"
        ></picture>
      </div>
    </div>
    <div class="z-[2] h-full w-full max-w-content-max-width px-[32px] lg:px-[70px]">
      <div
        id=""
        class="layout-grid relative col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] desktop-small:place-content-top desktop-small:place-items-center h-full"
      >
        <div
          id=""
          class="layout-flex relative col-start-1 col-span-full content-container w-full h-full flex flex-col justify-center items-center desktop:items-start gap-[20px] py-[16px] desktop:py-[140px]"
        >
          <div class="flex flex-col text-neutral-101">
            <h1 class="heading currentColor whitespace-pre-wrap flex flex-col items-center desktop:items-start text-display-small desktop:text-display-large w-full">
              <span>espresso Touch</span>
            </h1>
            <div class="subheading text-heading-medium font-[400] currentColor flex-row flex-wrap gap-[10px]desktop:flex-col justify-center desktop:justify-start">
              <div class="text-heading-small desktop:text-heading-medium italic text-center desktop:text-left">
                Portable interactivity
              </div>
              <div class="text-subheading-large text-center desktop:text-left hidden desktop:block">
                A complete workspace anywhere.
              </div>
            </div>
          </div>
          <div class="w-full flex flex-row flex-wrap gap-[20px] desktop-small:gap-[20px] justify-center desktop:justify-start">
            <a
              aria-label="Shop now"
              draggable="false"
              class="z-999 rounded-[5px] flex flex-row text-center items-center justify-center gap-[4px] whitespace-pre-wrap bg-lm-secondary hover:bg-lm-secondary-hover active:bg-lm-secondary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer text-lm-on-secondary"
              data-discover="true"
              href="/products/espresso-touch"
              >Shop now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %}
  {% schema %}
  {
    "name": "t:sections.image-banner.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.image-banner.settings.image_2.label"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "t:sections.image-banner.settings.image_3.label"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "t:sections.image-banner.settings.image_4.label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.animation.content"
      },
      {
        "type": "select",
        "id": "image_behavior",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.animation.image_behavior.options__1.label"
          },
          {
            "value": "ambient",
            "label": "t:sections.all.animation.image_behavior.options__2.label"
          },
          {
            "value": "fixed",
            "label": "t:sections.all.animation.image_behavior.options__3.label"
          },
          {
            "value": "zoom-in",
            "label": "t:sections.all.animation.image_behavior.options__4.label"
          }
        ],
        "default": "none",
        "label": "t:sections.all.animation.image_behavior.label"
      },
      {
        "type": "header",
        "content": "t:sections.image-banner.settings.mobile.content"
      },
      {
        "type": "select",
        "id": "mobile_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
      },
      {
        "type": "checkbox",
        "id": "stack_images_on_mobile",
        "default": true,
        "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "show_text_below",
        "default": true,
        "label": "t:sections.image-banner.settings.show_text_below.label"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-banner.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              },
              {
                "value": "hxl",
                "label": "t:sections.all.heading_size.options__4.label"
              },
              {
                "value": "hxxl",
                "label": "t:sections.all.heading_size.options__5.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.image-banner.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "default": "t:sections.image-banner.blocks.text.settings.text.default",
            "label": "t:sections.image-banner.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
              },
              {
                "value": "subtitle",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
              },
              {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
          }
        ]
      },
      {
        "type": "buttons",
        "name": "t:sections.image-banner.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-banner.presets.name",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "buttons"
          }
        ]
      }
    ]
  }
  {% endschema %}
{% endcomment %}
