<div
  id="section-features"
  class="section relative flex lg:flex-col items-center flex-col-reverse h-full w-full bg-neutral-0"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[32px] desktop-small:pb-[70px] bg-neutral-0 text-neutral-101 gap-[20px] desktop-small:gap-[20px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div id="" class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col gap-[32px]">
          <div class="content-container flex flex-col gap-[32px] lg:gap-[56px]">
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-[24px] gap-[20px] desktop-small:gap-[20px]"
            >
              <h2 class="col-span-full lg:col-span-6 text-display-medium">
                Optimise your workflow on the go with a portable second screen.
              </h2>
              <div class="col-span-full lg:col-span-6 text-body-medium flex flex-col justify-start">
                Boost your productivity anywhere you work with our ultra-portable second screen.<br>
                <br>
                Designed to keep you moving forward no matter your environment.
              </div>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-[24px] gap-[20px] desktop-small:gap-[20px]"
          >
            <div class="col-span-full desktop-small:col-span-6 desktop-large:col-span-4 flex flex-col justify-center items-center rounded-[16px] flex-1 text-center desktop-small:text-left desktop-small:h-[700px] p-[30px] desktop-small:p-[30px] gap-[10px] bg-[#373737]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-auto desktop-small:w-auto desktop-small:h-[450px] desktop-small:max-h-[450px] flex-1">
                  <img
                    src="{{ section.settings.section_15_features_image_1 | image_url }} "
                    fetchpriority="auto"
                    alt="animation stand plus fold"
                    width=""
                    height=""
                    draggable="false"
                    class="w-full h-auto desktop-small:w-auto desktop-small:h-full object-contain"
                  >
                </div>
              </div>
              <div class="w-full text-heading-large text-neutral-70">Premium design materials.</div>
              <div class="w-full text-body-extralarge">Folds down in seconds for travel.</div>
            </div>
            <div class="col-span-full desktop-small:col-span-6 desktop-large:col-span-4 flex flex-col justify-center items-center rounded-[16px] flex-1 text-center desktop-small:text-left desktop-small:h-[700px] p-[30px] desktop-small:p-[30px] gap-[10px] bg-[#373737]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-auto desktop-small:w-auto desktop-small:h-[450px] desktop-small:max-h-[450px] flex-1">
                  <img
                    src="{{ section.settings.section_15_features_image_2 | image_url }}"
                    fetchpriority="auto"
                    alt="animation stand magnets"
                    width=""
                    height=""
                    draggable="false"
                    class="w-full h-auto desktop-small:w-auto desktop-small:h-full object-contain"
                  >
                </div>
              </div>
              <div class="w-full text-heading-large text-neutral-70">Work your way.</div>
              <div class="w-full text-body-extralarge">Create a workspace that adapts to your needs.</div>
            </div>
            <div class="col-span-full desktop-small:col-span-full desktop-large:col-span-4 flex flex-col justify-center items-center rounded-[16px] flex-1 text-center desktop-small:text-left desktop-small:h-[700px] p-[30px] desktop-small:p-[30px] gap-[10px] bg-[#373737]">
              <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                <div class="image min-h-0 object-cover w-full h-auto desktop-small:w-auto desktop-small:h-[450px] desktop-small:max-h-[450px] flex-1">
                  <img
                    src="{{  section.settings.section_15_features_image_3 | image_url }}"
                    fetchpriority="auto"
                    alt="animation stand magnets"
                    width=""
                    height=""
                    draggable="false"
                    class="w-full h-auto desktop-small:w-auto desktop-small:h-full object-contain"
                  >
                </div>
              </div>
              <div class="w-full text-heading-large text-neutral-70">Neodymium magnets.</div>
              <div class="w-full text-body-extralarge">Magnetically connects to espresso Display.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section 15 Features 1",
  "settings": [
    {
      "type": "image_picker",
      "id": "section_15_features_image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "section_15_features_image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "section_15_features_image_3",
      "label": "Image 3"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Section 15 Features 1",
      "category": "Custom"
    }
  ]
}
{% endschema %}
