<div class="w-full h-auto max-h-full max-w-full flex flex-col items-center bg-neutral-101">
  <div class="container-video relative overflow-hidden aspect-video object-cover w-full h-full max-w-content-max-width">
    <video
      autoplay=""
      muted=""
      controls=""
      loop=""
      playsinline=""
      preload="metadata"
      loading="lazy"
      poster="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/video-espresso-pro-15-homepage.webp"
      alt="video-espresso-pro-15-homepage"
      aria-label="video-espresso-pro-15-homepage"
      class="absolute w-full h-full object-cover"
    >
      <source src="https://cdn.shopify.com/videos/c/o/v/06f8b430fe3a4c55a6f9973cffd4a3d5.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
