<div id="" class="section color-{{ section.settings.color_scheme }} relative flex lg:flex-col items-center flex-col-reverse h-full w-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id="section-techspecs"
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] gap-y-[40px]"
        >
          <h2 class="col-start-1 col-span-full flex flex-col text-display-medium" id="section-techspecs">
            Stand+ specs.
          </h2>
          <div class="col-span-full flex flex-col gap-[16px]">
            <div class="grid grid-cols-1 desktop-small:grid-cols-2 desktop-small:divide-x desktop-small:divide-neutral-80">
              <div class="border-y-[1px] border-neutral-80">
                <div class="image h-full min-h-0 w-full">
                  <img
                    src="{{ 'image-accessory-dimensions-stand-plus-side.svg' | asset_url }}"
                    fetchpriority="auto"
                    alt="stand plus dimensions"
                    width=""
                    height=""
                    draggable="false"
                    class="w-full h-full object-contain"
                  >
                </div>
              </div>
              <div class="border-y-[1px] border-neutral-80">
                <div class="image h-full min-h-0 w-full">
                  <img
                    src="{{ 'image-accessory-dimensions-stand-plus-collapsed-top.svg' | asset_url }}"
                    fetchpriority="auto"
                    alt="stand plus dimensions"
                    width=""
                    height=""
                    draggable="false"
                    class="w-full h-full object-contain"
                  >
                </div>
              </div>
            </div>
            <div
              id=""
              class="layout-flex relative h-full lg:col-span-12 flex flex-col col-start-1 col-span-full desktop-large:col-span-7"
            >
              <div class="flex flex-col gap-[10px] desktop-small:flex-row desktop-small:justify-between border-b border-neutral-80 py-[12px] px-[40px]">
                <div class="text-subheading-medium-heavy">Weight</div>
                <div class="text-subheading-medium">570 g</div>
              </div>
              <div class="flex flex-col gap-[10px] desktop-small:flex-row desktop-small:justify-between border-b border-neutral-80 py-[12px] px-[40px]">
                <div class="text-subheading-medium-heavy">Closed dimensions</div>
                <div class="text-subheading-medium">120 x 150 x 16 mm</div>
              </div>
              <div class="flex flex-col gap-[10px] desktop-small:flex-row desktop-small:justify-between border-b border-neutral-80 py-[12px] px-[40px]">
                <div class="text-subheading-medium-heavy">Extended full height</div>
                <div class="text-subheading-medium">362 mm</div>
              </div>
              <div class="flex flex-col gap-[10px] desktop-small:flex-row desktop-small:justify-between border-b border-neutral-80 py-[12px] px-[40px]">
                <div class="text-subheading-medium-heavy">Height from bottom of display to desk</div>
                <div class="text-subheading-medium">145-245 mm</div>
              </div>
              <div class="flex flex-col gap-[10px] desktop-small:flex-row desktop-small:justify-between border-b border-neutral-80 py-[12px] px-[40px]">
                <div class="text-subheading-medium-heavy">Type of attachment to display</div>
                <div class="text-subheading-medium">Magnetic</div>
              </div>
              <div class="flex flex-col gap-[10px] desktop-small:flex-row desktop-small:justify-between border-b border-neutral-80 py-[12px] px-[40px]">
                <div class="text-subheading-medium-heavy">Orientations</div>
                <div class="text-subheading-medium">Supports portrait and landscape</div>
              </div>
              <div class="flex flex-col gap-[10px] desktop-small:flex-row desktop-small:justify-between border-b border-neutral-80 py-[12px] px-[40px]">
                <div class="text-subheading-medium-heavy">Material</div>
                <div class="text-subheading-medium">Anodised aluminium, silicone rubber, PC ABS</div>
              </div>
            </div>
            <div class="h-full w-full flex flex-col items-end col-span-full">
              <a
                href="https://cdn.shopify.com/s/files/1/0610/6008/7962/files/espresso_Stand_Spec_Sheet_FINAL.pdf"
                aria-label="tech spec sheet"
                target="_blank"
              >
                <button
                  draggable="false"
                  type="button"
                  class="rounded-[5px] flex flex-row text-center items-center justify-center gap-[16px]  bg-lm-primary text-lm-on-primary hover:bg-lm-primary-hover active:bg-lm-primary-click px-[16px] py-[8px] text-label-medium w-fit min-w-[85px] h-[48px] cursor-pointer"
                >
                  Download tech spec sheet
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Stand+ Specs",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Stand+ Specs",
      "category": "Custom"
    }
  ]
}
{% endschema %}
