<div class="relative w-full h-full">
  <div
    id="section-explore-touch"
    class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
  >
    <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] bg-neutral-100 text-lm-on-background-1 overflow-hidden z-[2] w-full h-full">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
        >
          <div class="w-full flex flex-col gap-[8px] col-span-full">
            <h3 class="text-subheading-small uppercase">TOUCH FUNCTIONALITY</h3>
            <h2 class="text-heading-large  ">Touch or No touch</h2>
            <p class="text-body-medium text-neutral-50">
              <span class="font-bold text-neutral-00">Is touch right for you?</span> Our touchscreen models are designed
              for people who want to do more with their apps and workflows. Both our Pro and Touch ranges support touch
              for everyday professionals like accountants, researchers, and teachers. With built-in pen pressure
              sensitivity, you can write naturally with a paper-like feel.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="section-explore-touch"
    class="section relative flex desktop-small:flex-col items-center flex-col-reverse h-full w-full bg-neutral-100"
  >
    <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] text-neutral-101 bg-neutral-100">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
        >
          <div id="" class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-col gap-[32px]">
            <div
              id=""
              class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-[20px] desktop-small:gap-[20px]"
            >
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="espresso display touch with pen"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-1.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-1.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-1.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-1.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-cover"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  espresso Pro 15 and espresso Pen
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="espresso display non touch"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-2.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-2.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-2.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-2.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="object-contain w-full h-full"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  espresso Display 15 (non-touch)
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-3 flex flex-col justify-center items-center rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] pb-[10px] desktop-small:pb-[10px] gap-[10px] bg-neutral-80 relative">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-auto desktop-small:w-auto desktop-small:h-[450px] desktop-small:max-h-[450px] flex-1">
                    <img
                      alt="espresso display pen"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-1.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-1.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-1.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-1.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full desktop-small:w-auto desktop-small:h-full object-contain overflow-hidden object-center h-[300px]"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="text-center desktop-small:text-center text-heading-small w-[100%] text-neutral-00">
                  Refined for notes and sketching.
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-6 flex flex-col justify-center items-center rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] gap-[10px] bg-neutral-80 relative">
                <div class="w-full max-h-full max-w-full flex flex-col items-center h-full desktop-large:h-fit">
                  <div class="image min-h-0 h-full object-cover w-full desktop-small:h-[450px] desktop-small:max-h-[450px] flex flex-col items-center justify-center flex-1 desktop-small:w-auto desktop-large:w-full">
                    <img
                      alt="espresso display pen button controls"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-2.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-2.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-2.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-pen-2.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full desktop-small:w-auto desktop-small:h-full object-contain overflow-hidden object-center h-[300px]"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] text-neutral-00 p-[8px]">
                  Intuitive button controls for almost any tasks.
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-3 flex flex-col justify-center items-center rounded-[16px] flex-1 text-center desktop-small:text-left p-[30px] desktop-small:p-[30px] gap-[10px] bg-neutral-80 relative">
                <div class="w-full max-h-full max-w-full flex flex-col items-center h-[300px] desktop-large:h-fit">
                  <div class="image min-h-0 object-cover w-full desktop-small:h-[450px] desktop-small:max-h-[450px] flex flex-col items-center justify-center flex-1 desktop-small:w-auto desktop-large:w-full h-[300px]">
                    <img
                      alt="espresso display touch software jot"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-jot.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-jot.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-jot.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-jot.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full desktop-small:w-auto desktop-small:h-full object-contain h-full max-h-[200px]"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] text-neutral-00 p-[8px]">
                  Jot - free note-taking software
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="espresso display touch gestures"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-3.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-3.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-3.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-3.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-cover"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  Touch and gesture support.
                </div>
              </div>
              <div class="col-span-full desktop-small:col-span-6 flex flex-col bg-neutral-20 justify-center items-center gap-[40px] rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] desktop-small:p-[0px] overflow-hidden relative border border-neutral-80">
                <div class="w-full h-auto max-h-full max-w-full flex flex-col items-center">
                  <div class="image min-h-0 object-cover w-full h-full">
                    <img
                      alt="espresso display touch pen"
                      decoding="async"
                      loading="lazy"
                      src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-4.webp?width=460&amp;crop=center"
                      srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-4.webp?width=460&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-4.webp?width=920&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-explore-touch-4.webp?width=1380&amp;crop=center 3x"
                      width="460"
                      class="w-full h-full object-cover"
                      draggable="false"
                    >
                  </div>
                </div>
                <div class="absolute text-center desktop-small:text-center text-heading-small bottom-0 left-0 w-[100%] bg-neutral-90 text-neutral-00 p-[8px]">
                  It’s like turning your laptop into a tablet.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="section-explore-touch"
    class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
  >
    <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] bg-neutral-100 text-lm-on-background-1 overflow-hidden z-[2] w-full h-full">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
        >
          <div class="col-span-full text-subheading-small text-neutral-40">
            espresso Displays excel at enhancing everyday tasks through touch. Whether you're providing feedback on
            slides, sketching quick diagrams in meetings, or interacting with media software like Ableton, touch makes
            it faster and easier.<br>
            <br>
            The future of work isn’t just remote, it’s responsive, real-time and often interactive. <br>
            <br>
            Why professionals might choose touch:<br>
            <ul>
              <li>Interactive meetings. Whiteboards, walkthroughs, and quick mark-up. Done, signed, and sent.</li>
              <li>Faster workflows. Navigate dashboards and apps with the same ease as your phone.</li>
              <li>Ready for what’s next. Hybrid? Hot-desking? AI tools on touchscreen dashboards? You’re covered.</li>
            </ul>
            <br>
            <br>
            Learn more about our displays on <a class="underline" href="https://blog.espres.so/">our blog.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
