{% assign captions = 'Productivity anywhere|Durable aluminium and glass|Simple magnetic Stand|Touch for Mac & Windows|Seamless software'
  | split: '|'
%}

<div class="relative w-full h-full">
  <div
    id="section-home-features"
    class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
  >
    <div class="section-layout max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pt-[32px] desktop-small:pt-[70px] bg-neutral-100 text-neutral-00 pb-[0px] desktop-small:pb-[0px] overflow-hidden z-[2] w-full h-full">
      <div class="content-block w-full h-full">
        <div
          id=""
          class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
        >
          <div class="col-span-full text-heading-extralarge text-center desktop-small:text-left">
            Take your work anywhere
          </div>
          <div id="" class="layout-flex relative h-full col-span-full flex flex-col w-auto min-h-[500px]">
            <div class="carousel-wrapper relative flex flex-col gap-[64px] w-full h-full select-none overflow-clip">
              <div class="py-[70px] w-full rounded-[16px] flex flex-col gap-[12px]">
                <div class="carousel-scroll h-full flex flex-row items-center justify-start max-h-[650px] gap-[12px] overflow-x-auto w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide rounded-[16px] desktop-small:h-[550px]">
                  <div
                    id="media-element-carousel-media-0"
                    class="flex flex-col items-center gap-[12px] snap-center shrink-0 flex-shrink-0 h-full relative w-full overflow-hidden"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start rounded-[16px]">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center aspect-[16/9] h-full w-full min-h-[300px] rounded-[16px] desktop-small:w-auto desktop-small:aspect-[4/3]"
                      >
                        <div class="image h-full min-h-0 w-full">
                          <img
                            alt="espresso displays"
                            decoding="async"
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-productivity-anywhere-lifestyle.webp?width=450&amp;crop=center"
                            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-productivity-anywhere-lifestyle.webp?width=450&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-productivity-anywhere-lifestyle.webp?width=900&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-productivity-anywhere-lifestyle.webp?width=1350&amp;crop=center 3x"
                            width="450"
                            class="rounded-[16px] w-full h-full object-cover object-center"
                            draggable="false"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="w-full flex flex-row items-center gap-[12px]"></div>
                  </div>
                  <div
                    id="media-element-carousel-media-1"
                    class="flex flex-col items-center gap-[12px] snap-center shrink-0 flex-shrink-0 h-full relative w-full overflow-hidden"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start rounded-[16px]">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center aspect-[16/9] h-full w-full min-h-[300px] rounded-[16px] desktop-small:w-auto desktop-small:aspect-[4/3]"
                      >
                        <div class="image h-full min-h-0 w-full">
                          <img
                            alt="espresso displays"
                            decoding="async"
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-durable-lifestyle.webp?width=450&amp;crop=center"
                            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-durable-lifestyle.webp?width=450&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-durable-lifestyle.webp?width=900&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-durable-lifestyle.webp?width=1350&amp;crop=center 3x"
                            width="450"
                            class="rounded-[16px] w-full h-full object-cover object-bottom"
                            draggable="false"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="w-full flex flex-row items-center gap-[12px]"></div>
                  </div>
                  <div
                    id="media-element-carousel-media-2"
                    class="flex flex-col items-center gap-[12px] snap-center shrink-0 flex-shrink-0 h-full relative w-full overflow-hidden"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start rounded-[16px]">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center aspect-[16/9] h-full w-full min-h-[300px] rounded-[16px] desktop-small:w-auto desktop-small:aspect-[4/3]"
                      >
                        <div class="image h-full min-h-0 w-full">
                          <img
                            alt="espresso displays"
                            decoding="async"
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-stand-lifestyle.webp?width=450&amp;crop=center"
                            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-stand-lifestyle.webp?width=450&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-stand-lifestyle.webp?width=900&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-stand-lifestyle.webp?width=1350&amp;crop=center 3x"
                            width="450"
                            class="rounded-[16px] w-full h-full object-cover object-bottom"
                            draggable="false"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="w-full flex flex-row items-center gap-[12px]"></div>
                  </div>
                  <div
                    id="media-element-carousel-media-3"
                    class="flex flex-col items-center gap-[12px] snap-center shrink-0 flex-shrink-0 h-full relative w-full overflow-hidden"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start rounded-[16px]">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center aspect-[16/9] h-full w-full min-h-[300px] rounded-[16px] desktop-small:w-auto desktop-small:aspect-[4/3]"
                      >
                        <div class="image h-full min-h-0 w-full">
                          <img
                            alt="espresso displays"
                            decoding="async"
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-touch-lifestyle.webp?width=450&amp;crop=center"
                            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-touch-lifestyle.webp?width=450&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-touch-lifestyle.webp?width=900&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-touch-lifestyle.webp?width=1350&amp;crop=center 3x"
                            width="450"
                            class="rounded-[16px] w-full h-full object-cover object-center"
                            draggable="false"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="w-full flex flex-row items-center gap-[12px]"></div>
                  </div>
                  <div
                    id="media-element-carousel-media-4"
                    class="flex flex-col items-center gap-[12px] snap-center shrink-0 flex-shrink-0 h-full relative w-full overflow-hidden"
                  >
                    <div class="flex flex-col gap-[10px] items-center h-full w-full justify-start rounded-[16px]">
                      <div
                        id=""
                        class="layout-flex relative col-span-full media flex flex-col justify-center items-center aspect-[16/9] h-full w-full min-h-[300px] rounded-[16px] desktop-small:w-auto desktop-small:aspect-[4/3]"
                      >
                        <div class="image h-full min-h-0 w-full">
                          <img
                            alt="espresso displays"
                            decoding="async"
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-software-lifestyle.webp?width=450&amp;crop=center"
                            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-software-lifestyle.webp?width=450&amp;crop=center 1x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-software-lifestyle.webp?width=900&amp;crop=center 2x, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-usecases-software-lifestyle.webp?width=1350&amp;crop=center 3x"
                            width="450"
                            class="rounded-[16px] w-full h-full object-cover object-center"
                            draggable="false"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="w-full flex flex-row items-center gap-[12px]"></div>
                  </div>
                </div>
                <div class="w-full flex flex-col items-center justify-center relative px-[48px] desktop:px-[0px]">
                  <ul class="carousel-captions w-full flex flex-row flex-nowrap items-center justify-start desktop:justify-center gap-[12px] border-b border-neutral-60 overflow-x-auto overflow-y-hidden scrollbar-hide">
                    {% for caption in captions %}
                      <li class="carousel-caption list-none h-[60px] flex-shrink-0" data-index="{{ forloop.index0 }}">
                        <div
                          draggable="false"
                          class="cursor-pointer pointer-events-auto relative px-[15px] h-full w-full flex flex-col justify-center group"
                        >
                          <span
                            class="absolute bottom-0 left-1/2 h-[3px] w-0 bg-primary-50 transition-all duration-300 group-hover:w-1/2 group-hover:bg-primary-50 "
                          ></span>
                          <span
                            class="absolute bottom-0 right-1/2 h-[3px] w-0 bg-primary-50 transition-all duration-300 group-hover:w-1/2 group-hover:bg-primary-50 "
                          ></span>
                          <span class="!mx-0 text-label-medium transition-all duration-300 group-hover:text-primary-40 group-hover:font-bold ">
                            {{- caption -}}
                          </span>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="relative w-full h-[50px]">{% render 'carousel-buttons', classesHidden: 'flex' %}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% render 'carousel-script' %}

{% comment %} this script is used to keep the selected caption in sync with the carousel scroll position. {% endcomment %}
<script>
  const carousel = document.querySelector('.carousel-scroll');
  const captions = document.querySelectorAll('.carousel-caption');

  function getCurrentIndex() {
    // Find the carousel item closest to the left edge (or center)
    const items = carousel.querySelectorAll('.snap-center');
    let minDiff = Infinity;
    let currentIndex = 0;
    items.forEach((item, i) => {
      const rect = item.getBoundingClientRect();
      const diff = Math.abs(rect.left - carousel.getBoundingClientRect().left);
      if (diff < minDiff) {
        minDiff = diff;
        currentIndex = i;
      }
    });
    return currentIndex;
  }

  function highlightCaption(index) {
    captions.forEach((caption, i) => {
      // Remove active classes from all captions
      caption.classList.remove('active');
      // Remove Tailwind classes from underline and text
      const lines = caption.querySelectorAll('span.absolute');
      lines.forEach((line) => {
        line.classList.remove('w-1/2', 'bg-primary-50');
      });
      const text = caption.querySelector('span.text-label-medium');
      if (text) {
        text.classList.remove('text-primary-40', 'font-bold');
      }
      // Add active classes to the current caption
      if (i === index) {
        caption.classList.add('active');
        lines.forEach((line) => {
          line.classList.add('w-1/2', 'bg-primary-50');
        });
        if (text) {
          text.classList.add('text-primary-40', 'font-bold');
        }
      }
    });
  }

  // Listen for scroll events
  carousel.addEventListener('scroll', () => {
    const index = getCurrentIndex();
    highlightCaption(index);
  });

  highlightCaption(getCurrentIndex());
</script>
