<div
  id="section-overview"
  class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] pb-[32px] bg-neutral-100 pt-[24px] desktop-small:pt-[80px] desktop-small:pb-[80px] text-lm-on-background-1">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-col gap-[32px] desktop-small:gap-[56px]"
        >
          <div class="content-container flex flex-col gap-[10px]">
            <h2 class="w-full text-display-large text-center">Which espresso Display is right for you?</h2>
            <div class="w-full text-subheading-extralarge text-center">
              Make the best investment for your workflow on the go.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="section-overview"
  class="section relative flex desktop-small:flex-col items-center flex-col-reverse w-full h-full bg-neutral-100"
>
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] desktop-small:px-[70px] bg-neutral-100 pt-[0px] desktop-small:pt-[0px] pb-[0px] desktop-small:pb-[0px] pl-[0px] pr-[0px] text-lm-on-background-1">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 desktop-small:col-span-12 grid grid-cols-4 desktop-small:grid-cols-12 auto-rows-max gap-x-[8px] desktop-small:gap-x-[20px]"
      >
        <div id="" class="layout-flex relative h-full col-span-4 desktop-small:col-span-12 flex flex-col">
          <div class="container-video relative overflow-hidden aspect-video w-full desktop-small:w-full">
            <video
              controls=""
              playsinline=""
              preload="metadata"
              loading="lazy"
              poster="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/video-espresso-explore.webp?width=1800"
              alt="video-espresso-explore"
              aria-label="video-espresso-explore"
              class="absolute w-full h-full object-cover"
            >
              <source
                src="https://cdn.shopify.com/videos/c/o/v/30c28bd7a3894edca4a15c630fb8a3b3.mp4?width=1800"
                type="video/mp4"
              >
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
