<div id="section-home-products" class="bg-neutral-101 text-neutral-101 w-full h-[600px] flex flex-col items-center">
  <div class="flex flex-col items-center relative h-full w-full max-w-background-max-width">
    <div class="background absolute w-full h-full">
      <div class="image min-h-0 h-full w-full flex flex-col items-center">
        <picture class="w-full h-full">
          <source
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-homepage-banner-460-mobile.webp"
            media="(max-width: 1024px)">
          <source
            srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-homepage-banner-460-mobile.webp 375w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-homepage-banner-640-mobile.webp 1024w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-homepage-banner-desktop.webp 1280w"
            sizes="(min-width: 1024px) 100vw, (min-width: 1280px) 100vw, 100vw"
            media="(min-width: 1025px)">
          <img
            src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-pro-homepage-banner-460-mobile.webp"
            fetchpriority="auto"
            alt="espresso pro"
            width=""
            height=""
            draggable="false"
            class="h-full w-full object-cover object-center overflow-hidden"
        ></picture>
      </div>
    </div>
    <div class="z-[2] h-full w-full max-w-content-max-width px-[32px] lg:px-[70px]">
      <div
        id=""
        class="layout-grid relative col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px] desktop-small:place-content-top desktop-small:place-items-center h-full"
      >
        <div
          id=""
          class="layout-flex relative col-start-1 col-span-full content-container w-full h-full flex flex-col justify-center items-center desktop:items-start gap-[20px] py-[16px] desktop:py-[140px]"
        >
          <div class="flex flex-col text-neutral-101 desktop:text-neutral-00">
            <h1 class="heading currentColor whitespace-pre-wrap flex flex-col items-center desktop:items-start text-display-small desktop:text-display-large w-full">
              <span>espresso Pro</span>
            </h1>
            <div class="subheading text-heading-medium font-[400] currentColor flex-row flex-wrap gap-[10px]desktop:flex-col justify-center desktop:justify-start">
              <div class="text-heading-small desktop:text-heading-medium italic text-center desktop:text-left">
                Elite performance
              </div>
              <div class="text-subheading-large text-center desktop:text-left hidden desktop:block">
                Our brightest, sharpest, most powerful.
              </div>
            </div>
          </div>
          <div class="w-full flex flex-row flex-wrap gap-[20px] desktop-small:gap-[20px] justify-center desktop:justify-start">
            {% render 'button-standard', label: 'Shop now', href: '/products/espresso-pro', style: 'filled' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
