<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse h-full w-full bg-neutral-0">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] pt-[16px] desktop-small:pt-[35px] pb-[16px] desktop-small:pb-[35px] bg-neutral-0 text-neutral-101">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div id="" class="layout-flex relative h-full col-span-4 lg:col-span-12 flex flex-col gap-[32px]">
          <div class="content-container flex flex-col gap-[32px] lg:gap-[56px]">
            <div
              id=""
              class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-[32px] lg:gap-[24px]"
            >
              <h2 class="col-span-full lg:col-span-full text-display-medium">
                Which additional Stand is right for you?
              </h2>
            </div>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-[32px] lg:gap-[24px]"
          >
            <div class="col-span-full flex flex-row">
              <div class="carousel-card relative flex flex-col gap-[64px] w-full h-full select-none overflow-clip">
                <div class="px-[48px] w-full h-full desktop-small:h-full">
                  <div class="h-full flex flex-row items-center justify-start gap-[20px] overflow-x-hidden desktop:overflow-hidden w-full overflow-y-hidden snap-x snap-mandatory scrollbar-hide">
                    <div
                      id="media-element-0"
                      class="flex flex-col items-center snap-center shrink-0 flex-0 desktop-small:flex-1 relative w-full h-full desktop-small:h-full"
                    >
                      <div class="col-span-full flex flex-col items-center rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] w-full desktop-small:p-[0px] bg-transparent justify-start gap-[20px]">
                        <div class="max-h-full max-w-full flex flex-col items-center h-auto w-full p-[30px] desktop-small:p-[30px] bg-neutral-20 rounded-[16px]">
                          <div class="image min-h-0 h-full w-auto object-cover">
                            <img
                              alt="display work anywhere"
                              decoding="async"
                              loading="eager"
                              src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=100&amp;crop=center"
                              srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which.webp?width=3000&amp;crop=center 3000w"
                              width="100"
                              class=""
                              draggable="false"
                              style="width:100%"
                            >
                          </div>
                        </div>
                        <div class="w-full text-subheading-large-heavy text-neutral-101 order-first text-center">
                          espresso Stand
                        </div>
                        <div class="w-full text-body-medium text-center">
                          <div class="flex flex-col gap-[12px]">
                            <div>Magnetic connection</div>
                            <div>Variable Angle</div>
                            <div>Folds flat for travel</div>
                            <div>Standard display height</div>
                            <div>No drawing mode</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="media-element-1"
                      class="flex flex-col items-center snap-center shrink-0 flex-0 desktop-small:flex-1 relative w-full h-full desktop-small:h-full"
                    >
                      <div class="col-span-full flex flex-col items-center rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] w-full desktop-small:p-[0px] bg-transparent justify-start gap-[20px]">
                        <div class="max-h-full max-w-full flex flex-col items-center h-auto w-full p-[30px] desktop-small:p-[30px] bg-neutral-20 rounded-[16px]">
                          <div class="image min-h-0 h-full w-auto object-cover">
                            <img
                              alt="display work anywhere"
                              decoding="async"
                              loading="eager"
                              src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=100&amp;crop=center"
                              srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-3.webp?width=3000&amp;crop=center 3000w"
                              width="100"
                              class=""
                              draggable="false"
                              style="width:100%"
                            >
                          </div>
                        </div>
                        <div class="w-full text-subheading-large-heavy text-neutral-101 order-first text-center">
                          espresso Stand+
                        </div>
                        <div class="w-full text-body-medium text-center">
                          <div class="flex flex-col gap-[12px]">
                            <div>Magnetic connection</div>
                            <div>Variable Angle</div>
                            <div>Folds flat for travel</div>
                            <div>Additional height for ergonomics</div>
                            <div>No drawing mode</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="media-element-2"
                      class="flex flex-col items-center snap-center shrink-0 flex-0 desktop-small:flex-1 relative w-full h-full desktop-small:h-full"
                    >
                      <div class="col-span-full flex flex-col items-center rounded-[16px] flex-1 text-center desktop-small:text-left p-[0px] w-full desktop-small:p-[0px] bg-transparent justify-start gap-[20px]">
                        <div class="max-h-full max-w-full flex flex-col items-center h-auto w-full p-[30px] desktop-small:p-[30px] bg-neutral-20 rounded-[16px]">
                          <div class="image min-h-0 h-full w-auto object-cover">
                            <img
                              alt="display work anywhere"
                              decoding="async"
                              loading="eager"
                              src="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=100&amp;crop=center"
                              srcset="https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=200&amp;crop=center 200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=400&amp;crop=center 400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=600&amp;crop=center 600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=800&amp;crop=center 800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=1000&amp;crop=center 1000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=1200&amp;crop=center 1200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=1400&amp;crop=center 1400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=1600&amp;crop=center 1600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=1800&amp;crop=center 1800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=2000&amp;crop=center 2000w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=2200&amp;crop=center 2200w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=2400&amp;crop=center 2400w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=2600&amp;crop=center 2600w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=2800&amp;crop=center 2800w, https://cdn.shopify.com/s/files/1/0636/2772/2984/files/image-espresso-standplus-which-2.webp?width=3000&amp;crop=center 3000w"
                              width="100"
                              class=""
                              draggable="false"
                              style="width:100%"
                            >
                          </div>
                        </div>
                        <div class="w-full text-subheading-large-heavy text-neutral-101 order-first text-center">
                          espresso Stand Pro
                        </div>
                        <div class="w-full text-body-medium text-center">
                          <div class="flex flex-col gap-[12px]">
                            <div>Magnetic connection</div>
                            <div>Variable Angle</div>
                            <div>Folds flat for travel</div>
                            <div>Standard display height</div>
                            <div>Drawing mode - 18 degree lock for sketching and mark-up</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex desktop-small:hidden absolute flex-row items-center justify-between w-full h-full bg-lm-transparent pointer-events-none">
                  <div class="cursor-pointer pointer-events-auto">
                    <div class="icon flex flex-col items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <circle cx="20" cy="20" r="20" transform="rotate(180 20 20)" class="fill-[#F2F0F2]/60 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80"></circle><path d="M23.875 13L17 19.875L23.875 26.75" stroke-width="1.125" class="stroke-[#5A5A5A]/60 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 " stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="cursor-pointer pointer-events-auto">
                    <div class="icon flex flex-col items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <circle cx="20" cy="20" r="20" transform="rotate(180 20 20)" class="fill-[#F2F0F2]/60 hover:fill-[#E6E6E6]/80 active:fill-[#F9F9F9]/80"></circle><path d="M17 13L23.875 19.875L17 26.75" stroke-width="1.125" stroke-linejoin="round" class="stroke-[#5A5A5A]/60 hover:stroke-[#5A5A5A]/80 active:stroke-[#5A5A5A]/80 "></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-body-extrasmall flex flex-col justify-start text-center desktop-small:text-left">
            Please note: Your espresso Display comes with a Stand included. The type of Stand you receive will depend on
            the specific product you select. You also have the option to purchase an additional Stand of your choice.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
