<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 py-[24px] lg:py-[52px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div class="col-span-full py-10 px-8 scroll-mt-10 bg-lm-background-2 rounded-lg">
          <div class="w-full flex flex-col items-center]">
            <div class="w-full flex flex-col items-start py-[16px]">
              <div
                class="trustpilot-widget w-full"
                data-locale="en-US"
                data-template-id="53aa8912dec7e10d38f59f36"
                data-businessunit-id="61afcdbddb33d8ea6bb5b67b"
                data-style-height="140px"
                data-style-width="100%"
                data-theme="light"
                data-tags="SelectedReview"
                data-star-color="#00b67a"
                data-font-family="Work Sans"
                data-text-color="#000000"
                data-no-reviews="hide"
                data-fullwidth="true"
                style="position: relative;"
              >
                <iframe
                  title="Customer reviews powered by Trustpilot"
                  loading="auto"
                  src="https://widget.trustpilot.com/trustboxes/53aa8912dec7e10d38f59f36/index.html?templateId=53aa8912dec7e10d38f59f36&amp;businessunitId=61afcdbddb33d8ea6bb5b67b#locale=en-US&amp;styleHeight=140px&amp;styleWidth=100%25&amp;theme=light&amp;tags=SelectedReview&amp;starColor=%2300b67a&amp;fontFamily=Work%20Sans&amp;textColor=%23000000&amp;noReviews=hide&amp;fullwidth=true"
                  style="position: relative; height: 140px; width: 100%; border-style: none; display: block; overflow: hidden;"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
