<div id="" class="section relative flex lg:flex-col items-center flex-col-reverse w-full h-full">
  <div class="section-layout w-full h-full max-w-content-max-width flex flex-col items-center px-[32px] lg:px-[70px] bg-lm-background-0 text-lm-on-background-0 pt-[0px] pb-[24px] lg:py-[64px]">
    <div class="content-block w-full h-full">
      <div
        id=""
        class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max gap-x-[8px] lg:gap-x-[20px]"
      >
        <div
          id=""
          class="layout-grid relative h-full col-span-4 lg:col-span-12 grid grid-cols-4 lg:grid-cols-12 auto-rows-max lg:gap-x-[20px] section image-with-info gap-[16px]"
        >
          <div
            id=""
            class="layout-flex relative h-full col-span-4 lg:col-span-6 flex flex-col media order-first lg:order-first w-full"
          >
            <video
              id="video-collaboration-espressodisplays"
              autoplay=""
              loop=""
              playsinline=""
              controls=""
              preload="metadata"
              poster="{{ 'video-collaboration-espressodisplays.webp' | asset_url }}"
              class="media rounded-[0px] lg:rounded-[20px]"
              alt="video-collaboration-espressodisplays"
              aria-label="video-collaboration-espressodisplays"
            >
              {% comment %} <track src="/assets/videos/no_captions.vtt" kind="captions" srclang="en" label="english_captions"> {% endcomment %}
              Your browser does not support the video tag.
              <source src="{{ 'video-collaboration-espressodisplays.webm' | asset_url }}" type="video/webm">
              <source src="{{ 'video-collaboration-espressodisplays.mp4' | asset_url }}" type="video/mp4">
            </video>
          </div>
          <div
            id=""
            class="layout-grid relative h-full col-span-4 lg:col-span-6 grid grid-cols-4 lg:grid-cols-6 gap-x-[8px] lg:gap-x-[20px] auto-rows-auto bg-lm-background-1"
          >
            <div
              id=""
              class="layout-flex relative h-full col-start-1 lg:col-start-2 col-span-4 lg:col-span-4 content-container flex flex-col justify-center gap-[32px] lg:gap-[32px] py-[32px] lg:py-[0px]"
            >
              <h2 class="heading text-heading-large currentColor">Virtual whiteboarding and collaboration</h2>
              <div class="description text-body-medium currentColor">
                <div class="">
                  Perfect to support your work, whatever application or software you use. Great for: Miro, Canva, Figma,
                  Mural, and more...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
